<ul class="page-breadcrumb breadcrumb">
	<li>
		<a href="<?php echo BASE_URL . 'admin/home/dashboard'; ?>">Home</a>
		<i class="fa fa-circle"></i>
	</li>
	<li>
		<span class="active">Dashboard</span>
	</li>
</ul>