<?php 
	 
	//echo !empty($consentTerm['Content']['content_text']) ? $consentTerm['Content']['content_text'] : ''; 
?>
<section class="inner-content about">
	<div class="container">
		<div class="col-sm-12">
			<?php if(isset($pageTitle) && $pageTitle != ''){?> <h1><?php echo $pageTitle; ?></h1> <?php } ?>
				<p>I (&quot;Discloser&quot;) hereby request and authorize &lsquo;The On Call Room User&rsquo; (&quot;the Healthcare Professional&quot;) to capture, release, and share my medical information and medical images (which may include images of portions of my body (&quot;Images&quot;)) and include information about the Image, and any related diagnosis or treatment or case details, on The On Call Room Application (the &quot;App&quot;), operated by The On Call Room Ltd. (the &quot;Recipient&quot;), and any other use by The On Call Room Ltd or partner or affiliate publications. I understand that the Healthcare Professional will remove and personally identifiable information, as defined by HIPAA from the Image and any other shared file format, and will not include any such information before uploading the image or files for use via the App. The Healthcare Professional may post any information that may identify the Healthcare Professional in connection with the Image or file. The purpose of this authorization is for educational and informational purposes that will promote the sharing of medical knowledge among The On Call Room professionals who use the Recipient&#39;s Application and third parties who use such information with the permission of the Recipient. I understand that I may revoke this Authorization at any time, except to the extent that the Healthcare Professional has taken any action in reliance on it. My revocation will only be effective if I submit it in writing to the Healthcare Professional. I understand that I am not required to sign this Authorization, and that my refusal to sign will not affect my eligibility for treatment, services or other benefits to which I am entitled from the Healthcare Professional. I understand that information disclosed by the Healthcare Professional is subject to re-disclosure and reuse by the Recipient and may no longer be protected by state or federal laws, including HIPAA. I would like this Authorization to expire if/when the Healthcare Professional deletes his/her The On Call Room (The OCR) account, except to the extent that The On Call Room has taken any action in reliance on it.</p>
		</div>
	</div>
</section>


