<?php 
	/*if(!empty($joinTheTeam)){
		echo !empty($joinTheTeam['Content']['content_text']) ? $joinTheTeam['Content']['content_text'] : '';
}*/
?>
<section class="inner-content"><!--Inner page-->
  <div class="container">
    <div class="row">
      <div class="faq">
        <div class="col-sm-12">
         <!--Inner page-->
		

<p>Thank you for contacting us. We will get back to you soon.</p>
         </div>
      </div>
    </div>
  </div>
</section>

