</td>
            </tr>
          </tbody>
        </table>

      </td>
    </tr>
    <tr>
      <td height="3" align="left" valign="middle" bgcolor="#e6e6e6" style="font-family:'Segoe UI', Arial;font-size:9px;color:#000;text-decoration:none;line-height:0px;">&nbsp;</td>
    </tr>
    <tr>
      <td height="59" align="center" valign="top" bgcolor="#e6e6e6" style="font-family:'Segoe UI', Arial;font-size:9px;color:#000;text-decoration:none;">
      <p style=" margin-top:18px; width:100%; text-align: center; font-family:'Segoe UI', Arial;font-size:13px;">Copyright &copy; <a style="color:#000; text-decoration:underline;" target="_blank" href="http://mediccreations.com/"><img width="14" height="14" src="https://s3-us-west-1.amazonaws.com/theoncallroom/latest_theme_assets/images/medic-logo-small.png" alt="Logo"> Medic Creations</a> All Rights Reserved. </p>
      </td>
    </tr>
  </tbody>
</table>
</body>
</html>