<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Newsletter</title>
</head>
<body>
<table width="535" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family:'Segoe UI', Arial;font-size:14px;line-height:18px;color:#3a3a3a;text-decoration:none;" >
  <tbody >
    <tr>
      <td bgcolor="#FFFFFF" style="border:1px solid #d2d2d2;" >
         <table width="535" border="0" cellspacing="0" cellpadding="0" style="margin-bottom: 10px;">
          <tbody>
            <tr>
              <td align="left" valign="top" style="text-align:left;background-color:#ffffff;padding:5px"><img src="https://s3-us-west-1.amazonaws.com/theoncallroom/latest_theme_assets/images/new-logoMedicBleep.png" alt="" width="200" height="45" style="border:0px; margin-bottom:10px; margin-top:10px; margin-left:15px" class="CToWUd"></td>
            </tr>