/*
Error: Invalid CSS after "$font-face ": expected ":", was "{"
        on line 107 of /Applications/XAMPP/xamppfiles/htdocs/Sub-Admin/scss/icons/linea-icons/linea.scss

102:       -webkit-box-shadow:inset 0 0 3px $color0;
103:       box-shadow:inset 0 0 3px $color0;
104:     }
105:   }
106: }  
107: $font-face {
108:   font-family: "linea-arrows-10";
109:   font-family: "linea-basic-10";
110:   font-family: "linea-basic-elaboration-10";
111:   font-family: "linea-ecommerce-10";
112:   font-family: "linea-music-10";

Backtrace:
/Applications/XAMPP/xamppfiles/htdocs/Sub-Admin/scss/icons/linea-icons/linea.scss:107
/Applications/Adobe Dreamweaver CC 2017/Adobe Dreamweaver CC 2017.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/scss/parser.rb:1161:in `expected'
/Applications/Adobe Dreamweaver CC 2017/Adobe Dreamweaver CC 2017.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/scss/parser.rb:1097:in `expected'
/Applications/Adobe Dreamweaver CC 2017/Adobe Dreamweaver CC 2017.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/scss/parser.rb:1092:in `tok!'
/Applications/Adobe Dreamweaver CC 2017/Adobe Dreamweaver CC 2017.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/scss/parser.rb:601:in `variable'
/Applications/Adobe Dreamweaver CC 2017/Adobe Dreamweaver CC 2017.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/scss/parser.rb:656:in `block_child'
/Applications/Adobe Dreamweaver CC 2017/Adobe Dreamweaver CC 2017.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/scss/parser.rb:649:in `block_contents'
/Applications/Adobe Dreamweaver CC 2017/Adobe Dreamweaver CC 2017.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/scss/parser.rb:117:in `stylesheet'
/Applications/Adobe Dreamweaver CC 2017/Adobe Dreamweaver CC 2017.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/scss/parser.rb:42:in `parse'
/Applications/Adobe Dreamweaver CC 2017/Adobe Dreamweaver CC 2017.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/engine.rb:403:in `_to_tree'
/Applications/Adobe Dreamweaver CC 2017/Adobe Dreamweaver CC 2017.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/engine.rb:278:in `render'
/Applications/Adobe Dreamweaver CC 2017/Adobe Dreamweaver CC 2017.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:420:in `run'
/Applications/Adobe Dreamweaver CC 2017/Adobe Dreamweaver CC 2017.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Applications/Adobe Dreamweaver CC 2017/Adobe Dreamweaver CC 2017.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/exec/base.rb:52:in `parse'
/Applications/Adobe Dreamweaver CC 2017/Adobe Dreamweaver CC 2017.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/lib/sass/exec/base.rb:19:in `parse!'
/Applications/Adobe Dreamweaver CC 2017/Adobe Dreamweaver CC 2017.app/Contents/Resources/gems/rubygems/gems/sass-3.4.19/bin/sass:13:in `<top (required)>'
/Applications/Adobe Dreamweaver CC 2017/Adobe Dreamweaver CC 2017.app/Contents/Resources/gems/bin/sass:30:in `load'
/Applications/Adobe Dreamweaver CC 2017/Adobe Dreamweaver CC 2017.app/Contents/Resources/gems/bin/sass:30:in `<main>'
*/
/*
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"$font-face \": expected \":\", was \"{\"\A         on line 107 of /Applications/XAMPP/xamppfiles/htdocs/Sub-Admin/scss/icons/linea-icons/linea.scss\A \A 102:       -webkit-box-shadow:inset 0 0 3px $color0;\A 103:       box-shadow:inset 0 0 3px $color0;\A 104:     }\A 105:   }\A 106: }  \A 107: $font-face {\A 108:   font-family: \"linea-arrows-10\";\A 109:   font-family: \"linea-basic-10\";\A 110:   font-family: \"linea-basic-elaboration-10\";\A 111:   font-family: \"linea-ecommerce-10\";\A 112:   font-family: \"linea-music-10\";"; }
*/
