<?php   
	//echo $this->Paginator->numbers(); //  Output clickable page numbers
?>
<div class="row marBottom30">

    <!-- <div class="col-md-5 col-sm-5">
    	<div aria-live="polite" role="status" id="sample_1_info" class="dataTables_info">Showing <?php echo $this->Paginator->counter('{:page} of {:pages} Pages'); ?></div>
    </div> -->
    <div class="col-md-7 col-sm-7">
        <div class="dataTables_paginate paging_bootstrap_full_number rightFloat" id="sample_1_paginate">
<?php
$pageNo=$this->Paginator->current();
$totalPage=$this->Paginator->counter('{:pages}');
$perPage=$this->Paginator->params()['limit'];
$count=array("20"=>"20","50"=>"50","100"=>"100");
 echo $this->Form->input('Data_Count',array('options'=>$count,'type'=>'select','div'=>false,'onchange' =>'chngCount(this.value)','default'=>$perPage));   
 if($pageNo==1){
    echo ' FIRST ';
    echo '<< ';
 }
    else{
echo '<a onclick="abc(1,'.$limit.')"> FIRST </a>';
echo '<a onclick="abc('.($pageNo-1).','.$limit.')"><< </a>';
}
$textValue= $this->Paginator->counter('{:page} / {:pages}');
echo $this->Form->text('a',array('value'=>$textValue,'disabled'));
if($pageNo==$totalPage){
echo ' >>';
echo ' LAST ';
}
else{
echo '<a onclick="abc('.($pageNo+1).','.$limit.')"> >></a>';
echo '<a onclick="abc('.$totalPage.','.$limit.')"> LAST </a>';
}
echo $this->Form->input('Go_to',array('value'=>$pageNo,'type'=>'number','div'=>false,'min'=>'01','max'=>$totalPage,'id'=>'chngPage'));
echo $this->Form->button('GO',array('onclick'=>'chngPage('.$totalPage.','.$limit.')'));
    // debug($this->Paginator->params());
    ?>
            <!-- <ul class="pagination" style="visibility: visible;">
                <li class="prev disabled"><a href="#" title="First"><i class="fa fa-angle-double-left"></i></a></li>
                <li class="prev disabled"><a href="#" title="Prev"><i class="fa fa-angle-left"></i></a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li><li><a href="#">3</a></li>
                <li><a href="#">4</a></li><li><a href="#">5</a></li>
                <li class="next"><a href="#" title="Next"><i class="fa fa-angle-right"></i></a></li>
                <li class="next"><a href="#" title="Last"><i class="fa fa-angle-double-right"></i></a></li>
            </ul> -->
        </div>
    </div>
</div>