<?php
 // pr($limit);
// pr($condition);
    //** AJAX Pagination
    $this->Js->JqueryEngine->jQueryObject = 'jQuery';
    // Paginator options
    $this->Paginator->options(array(
        'update' => '#content',
        'evalScripts' => true,
        'before' => $this->Js->get('#spinner')->effect('fadeIn', array('buffer' => false)),
        'complete' => $this->Js->get('#spinner')->effect('fadeOut', array('buffer' => false))
        )
    );
    
?><style type="text/css">
	#success{
		width:100px;
		height:40px;
		position:relative;
		left:40%;
	}
	#text{
		font-size: 30px;
		position: relative;
		left:30%;
	}
</style>
<div class="page-content-wrapper">
<br><br><br><br>
<div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
        	<img id="success" src="<?php echo BASE_URL.'admin/img/success.jpg' ?>" alt="">
        </div>
        <h1 id="text">Successfully Updated..!!</h1>
       </div>
</div>
<div id="content1">
</div>