<?php
// debug($this->Paginator->params());
$this->Js->JqueryEngine->jQueryObject = 'jQuery'; 
$this->paginator->options(
    array(
        'update' => '#tab_1_5',
        'before' => $this->Js->get('#spinner')->effect('fadeIn', array('buffer' => false)),
        'complete' => $this->Js->get('#spinner')->effect('fadeOut', array('buffer' => false))));
if(isset($userPostdata)){
foreach ($userPostdata as  $value) {
if(!empty($value['BeatViewUser']['UserProfile']['id'])){
$beatid[]=$value['BeatViewUser']['UserProfile']['id'];
$beatname[]=$value['BeatViewUser']['UserProfile']['first_name'].' '.$value['BeatViewUser']['UserProfile']['last_name'];

// $id[]=$a['id'];
// $name[]=$a['first_name']." ".$a['last_name'];
    }
else{
    $id=NULL;
    $name=NULL;
}}
$beatid=array_unique($beatid);
$beatname=array_unique($beatname);

}
else{
    $beatid=NULL;
    $beatname=NULL;}
    $viewCount=count($beatid);

 ?>
	<div class="widget-news margin-bottom-20 bold">
    	<span class="widget-news-left-elem">S. NO.</span>
        <div class="widget-news-right-body">
            <p class="widget-news-right-body-title">
            	User Name
                
            </p>
        </div>
    </div>
    <?php
        $totalPage=$viewCount/$perPage;

        if($viewCount>0){
            for ($i=($j*$perPage); $i<(($j+1)*$perPage) ; $i++){
                if(isset($beatname[$i])){
    ?>
    <div class="widget-news margin-bottom-20">
        <span class="widget-news-left-elem"><?php echo $i+1; ?></span>
        <div class="widget-news-right-body">
            <p class="widget-news-right-body-title"><?php echo $beatname[$i]; ?>
            </p>
        </div>
    </div>
     <?php }}}
        else{ ?>
        <p align="center"><font color="red">No Record(s)!</font><p>
           <?php }
     ?>
    <!-- <div class="widget-news margin-bottom-20">
    	<span class="widget-news-left-elem">1</span>
        <div class="widget-news-right-body">
            <p class="widget-news-right-body-title">Gracy Miller</p>
        </div>
    </div> -->
    <div class="clearfix"></div>
    <div class="row paginationTopBorder">
        <?php 
        if($viewCount>0){
            echo $this->element('advancePagination');
        }
         ?>
   </div>
   <script type="text/javascript">
 var id='<?php echo $id; ?>';
 var perPage='<?php echo $perPage; ?>';
 var totalPage='<?php echo ceil($totalPage); ?>';
     function abc(val,perPage){
     $.ajax({
              url:'<?php echo BASE_URL; ?>subadmin/SubadminUserPost/views',
              type: "POST",
              data: {'postId':id,'j':val,'perPage':perPage},
              success: function(data) { 
                  // alert(data);
                  $('#tab_1_5').html(data);
              }
          });
 }
 function chngCount(val,id){
  $.ajax({
              url:'<?php echo BASE_URL; ?>subadmin/SubadminUserPost/views',
              type: "POST",
              data: {'postId':id,'perPage':val},
              success: function(data) { 
                  // alert(data);
                  $('#tab_1_5').html(data);
              }
          });
 }
 function chngPage(val) {
  var goVal=$("#chngPage").val();
  // var chVal=0+goVal;
  if(parseInt(goVal) <= Math.ceil(totalPage) && Math.ceil(goVal)>0){
    $.ajax({
              url:'<?php echo BASE_URL; ?>subadmin/SubadminUserPost/views',
              type: "POST",
              data: {'postId':id,'j':goVal,'perPage':perPage,'totalPage':totalPage},
              success: function(data) { 
                  // alert(data);
                  $('#tab_1_5').html(data);
              }
          });
  }
  else{
    // alert("more");
  }
  
 }
 </script>