<div class="col-md-12">
	<iframe src="<?php echo $url; ?>" frameborder="0" ></iframe>
</div>
<div class="col-md-12 nav_btn">
	<button class="btn <?php echo $page==1?'btn-success':'btn-info'; ?> switchPage" data-value="1" type="button">Page 1</button>
	<button class="btn <?php echo $page==2?'btn-success':'btn-info'; ?> switchPage" data-value="2" type="button">Page 2</button>
	<button class="btn <?php echo $page==3?'btn-success':'btn-info'; ?> switchPage" data-value="3" type="button">Page 3</button>
</div>