/*
Theme Name: Stock
Theme URI: https://github.com/lukecarbis/stock
Author: Luke Carbis
Author URI: http://carb.is
Description: A simple theme, inspired by minimalism & precision.
Version: 1.1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: stock
Tags: black, white, two-columns, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-menu, editor-style, featured-images, full-width-template, post-formats, rtl-language-support, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

 Stock is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Layout
3.0 Typography
4.0 Elements
5.0 Forms
6.0 Navigation
	6.1 Links
	6.2 Menus
7.0 Accessibility
8.0 Alignments
9.0 Clearings
10.0 Widgets
11.0 Content
	11.1 Posts and pages
	11.2 Post formats
	11.3 Comments
12.0 Infinite scroll
13.0 Media
	13.1 Captions
	13.2 Galleries
--------------------------------------------------------------*/

/*---- Fonts ----*/
@font-face { font-family: 'OpenSansLight'; src: url('fonts/OpenSans-Light-webfont.eot'); src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Light-webfont.woff') format('woff'), url('fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg'); font-weight: normal; font-style: normal;}

@font-face { font-family: 'OpenSansRegular'; src: url('fonts/OpenSans-Regular-webfont.eot'); src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Regular-webfont.woff') format('woff'), url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg'); font-weight: normal; font-style: normal;}

@font-face { font-family: 'OpenSansSemibold'; src: url('fonts/OpenSans-Semibold-webfont.eot'); src: url('fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Semibold-webfont.woff') format('woff'), url('fonts/OpenSans-Semibold-webfont.ttf') format('truetype'), url('fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg'); font-weight: normal;
 font-style: normal;}

@font-face { font-family: 'OpenSansBold'; src: url('fonts/OpenSans-Bold-webfont.eot'); src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Bold-webfont.woff') format('woff'), url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg'); font-weight: normal; font-style: normal;}

@font-face{ font-family:'ralewayregular'; src:url('fonts/raleway-regular-webfont.eot'); src:url('fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/raleway-regular-webfont.woff') format('woff'), url('fonts/raleway-regular-webfont.ttf') format('truetype'), url('fonts/raleway-regular-webfont.svg#ralewayregular') format('svg'); font-weight:normal; font-style:normal;}

@font-face{ font-family:'ralewaylight'; src:url('fonts/raleway-light-webfont.eot'); src:url('fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/raleway-light-webfont.woff') format('woff'), url('fonts/raleway-light-webfont.ttf') format('truetype'), url('fonts/raleway-light-webfont.svg#ralewaylight') format('svg'); font-weight:normal; font-style:normal;}

@font-face{ font-family:'ralewaybold'; src:url('fonts/raleway-bold-webfont.eot'); src:url('fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/raleway-bold-webfont.woff') format('woff'),
url('fonts/raleway-bold-webfont.ttf') format('truetype'), url('fonts/raleway-bold-webfont.svg#ralewaybold') format('svg'); font-weight:normal; font-style:normal;}

@font-face{ font-family:'ralewaymedium';src:url('fonts/raleway-medium-webfont.eot'); src:url('fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/raleway-medium-webfont.woff') format('woff'), url('fonts/raleway-medium-webfont.ttf') format('truetype'), url('fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg'); font-weight:normal; font-style:normal;}


/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: 'OpenSansRegular';
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

*,
*:before,
*:after { /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	-webkit-box-sizing: border-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
	-moz-box-sizing:    border-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
	box-sizing:         border-box;
}

body {
	background: #fbfbfb; /* Fallback for when there is no custom background color defined. */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

input:focus,
select:focus,
textarea:focus,
button:focus,
a:focus {
    outline: none;
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}

/*--------------------------------------------------------------
2.0 Layout
--------------------------------------------------------------*/
#masthead,
#colophon {
	width: 100%;
	background: #222;
	color: #f5f5f5;
	font-weight: 300;
}

#masthead .site-branding,
#masthead .main-navigation,
#colophon .site-info {
	width: 100%;
	max-width: 1080px;
	padding: 0 2em;
	margin: 0 auto;
}

#content {
	max-width: 990px;
	padding: 2em;
	margin: 0 auto;
    margin-top: 4.5em;
}

#masthead {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

#colophon {
	padding: 1em 0;
	box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.2);
}

#primary {
	float: right;
	margin-right: 25%;
	padding-right: 2em;
	width: 75%;
}

#primary.full-width {
	float: none;
	margin-right: 0;
	padding-right: 0;
	width: 100%;
}

#secondary {
	float: right;
	width: 25%;
	margin-right: -100%;
	margin-left: 2em;
	padding-left: 2em;
/*	border-left: 1px solid #eee;*/
    margin-top: 2.5em;
}

.entry-header.has-thumbnail {
	position: relative;
}

.entry-header.has-thumbnail .entry-title {
	padding-top: 1em;
	margin: 0 auto;
	height: 12em;
	width: 16em;
	max-width: 100%;
}

.entry-header.has-thumbnail .entry-meta {
	margin-top: 1em;
	margin-bottom: -1em
}

.entry-header .entry-thumbnail {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 24em;
	top: 0;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.entry-footer .comments-link,
.entry-footer .edit-link {
	float: left;
	padding-left: 0;
}

/*--------------------------------------------------------------
3.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: 'OpenSansRegular';
	font-size: 16px;
	font-size: 1.6rem;
/*	line-height: 0;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

h1 {
	font-size: 32px;
	font-size: 3.2rem;
	font-family: 'OpenSansRegular';
	font-weight: 600;
}

h2 {
	font-size: 28px;
	font-size: 2.8rem;
	font-family: 'OpenSansRegular';
	font-weight: 600;
}

h3 {
	font-size: 24px;
	font-size: 2.4rem;
	font-family: 'OpenSansRegular';
	font-weight: 600;
}

h4 {
	font-size: 24px;
	font-size: 2.4rem;
	font-family: 'OpenSansRegular';
}

h5 {
	font-size: 20px;
	font-size: 2.0rem;
	font-family: 'OpenSansRegular';
}

h6 {
	font-size: 16px;
	font-size: 1.6rem;
	font-family: 'OpenSansRegular';
}

h1.site-title {
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 24px;
	font-size: 2.4rem;
	padding: 1em 0 0 0;
	letter-spacing: 0.1em;
	font-family: 'OpenSansRegular';
}

h1.site-title a:hover {
	text-decoration: none;
}

h2.site-description {
	text-align: center;
	font-weight: 300;
	font-style: italic;
	font-size: 16px;
	font-size: 1.6rem;
	font-family: 'OpenSansRegular';
}

h1.page-title {
	padding-bottom: 0px;
	margin-bottom: 0.5em;
/*	border-bottom: 1px solid #eee;*/
	text-align: left;
	font-style: normal;
	font-size: 28px;
	font-size: 2.8rem;
}

h1.entry-title {
	font-size: 32px;
	font-size: 3.2rem;
	text-align: left;
	font-weight: 600;
	font-family: 'OpenSansRegular';
    margin: 0 0 25px 0;
}

.entry-header.has-thumbnail {
	text-align: center;
}

.entry-header.has-thumbnail .entry-title span {
	background: #fff;
	box-shadow: 0.2em 0 0 #fff, -0.2em 0 0 #fff, 0 3px 3px rgba(0, 0, 0, 0.2);
}

.entry-meta {
	font-size: 14px;
	font-size: 1.4rem;
	font-style: normal;
	text-align: left;
	color: #aaa;
    float: left;
}
.entry-meta span{
    padding: 0 30px 0 0;
}
.entry-meta,
.entry-meta a,
.entry-meta a:visited {
	color: #aaa;
}

.entry-footer {
/*	border-bottom: 1px solid #eee;*/
	padding-bottom: 1em;
	font-size: 14px;
	font-size: 1.4rem;
    background: none;
}

.entry-meta .icon, .comments-link .icon {
    margin: 0 10px 0 0;
    color: #ccc;
}

.entry-content .meta-nav{
	display:inline-block;
	padding:0px 10px;
	margin:0;
	font-size:20px;
	font-weight:bold;
	line-height:1;
	background:#ccc;
	border-radius:2px;
	color:#fff;
	letter-spacing:1px;
}

.more-link{
    float: right;
    margin-bottom: 1.5em;
}

.search-form {
    border:1px solid #ddd;
    margin-bottom: 40px;
    width: 220px;
}

aside .search-form {
    border:1px solid #ddd;
    margin-bottom: 40px;
    width: auto;
}

.searchPage .search-field{
    border: none;
    line-height: 40px;
    margin-bottom: 0px !important;
}

aside .search-field{
	padding-right:0;
	line-height:20px;
}

aside .search-form input[type="submit"], input[type="submit"]{
	background:none;
	font-size:20px;
	color:#aaa;
    border: none;
    padding-top: 17px;
}
aside .search-form input[type="submit"]:hover, .search-form input[type="submit"]:hover{color:#00aeff;}

aside .search-form input[type="search"], input[type="search"]{
    border: none;
    background: none;
    padding: 20px 2px 20px 12px;
    margin-bottom: 0px;
    float: left;
/*    width: 150px;*/
}

.widget .widget-title{
	padding: 0 0 20px 0;
	border-bottom:1px solid #eee;
	margin:0;
    font-size:22px;
}

.widget a{
	padding: 0 0 20px 10px;
	margin:0;
    line-height: 40px;
}

.widget.widget_search{
    border-bottom: none;
}

.comments-area h1 {
    margin: 0 0 25px 0;
    font-size:24px;
}

.comment-list li {
/*
    border-top: 1px solid #eee;
    position: relative;
    padding: 40px 0 40px 80px;
*/
}

.entry-content .meta-nav:hover{background:#00aeff;}

.entry-footer .cat-links {
	padding-right: 1em;
}

.page .entry-footer {
	border-bottom: 0;
}

.main-navigation li {
	font-size: 14px;
	font-size: 1.4rem;
}

.site-info {
	font-size: 14px;
	font-size: 1.4rem;
}

p {
	margin-bottom: 1.5em;
}

b,
strong {
	font-weight: bold;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
	font-family: 'OpenSansRegular';
	font-size: 24px;
	font-size: 2.4rem;
	font-style: italic;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: 'OpenSansRegular';
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
4.0 Elements
--------------------------------------------------------------*/
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

th {
	font-weight: bold;
}

/*--------------------------------------------------------------
5.0 Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}

button,
input[type="button"],
input[type="reset"]
/*input[type="submit"] */
{
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	line-height: 1em;
	padding: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #222;
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 5px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
	line-height: 1.5em;
}

/*--------------------------------------------------------------
6.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
6.1 Links
--------------------------------------------------------------*/
a,
a:visited {
	color: #000;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #404040;
	text-decoration: underline;
}

#masthead a,
#colophon a,
#masthead a:visited,
#colophon a:visited {
	color: #f5f5f5;
}

#masthead a:hover,
#colophon a:hover,
#masthead a:focus,
#colophon a:focus,
#masthead a:active,
#colophon a:active {
	color: #fff;
}

.entry-content a,
.entry-content a:visited,
.comment-content a,
.comment-content a:visited {
	text-decoration: underline;
}

.entry-content a:hover,
.entry-content a:focus,
.entry-content a:active,
.comment-content a:hover,
.comment-content a:focus,
.comment-content a:active {
	text-decoration: none;
}


/*--------------------------------------------------------------
6.2 Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	font-size: 0;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-top: 3px;
	padding-left: 0;
	text-align: center;
}

.main-navigation li {
	position: relative;
	display: inline-block;
	font-size: 14px;
}

.main-navigation a {
	display: block;
	text-decoration: none;
	padding: 0.5em 1em;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	background: #222;
	text-align: left;
	top: auto;
	left: -999em;
	padding-top: 0;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li a {
	padding: 0.5em 1em;
	border-bottom: none;
}

.main-navigation li > a {
	border-bottom: 3px solid #222;
}

.main-navigation li:hover > a,
.main-navigation li a:focus {
	border-bottom: 3px solid #fff;
}

.main-navigation ul ul li:hover,
.main-navigation ul ul li a:focus {
	background: rgba(200,200,200,0.25);
}

.main-navigation ul ul li:hover > a,
.main-navigation ul ul li > a:focus {
	border-bottom: none;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li > a:focus + ul,
.main-navigation ul.nav-focus {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li > a:focus + ul,
.main-navigation ul ul li > ul.nav-focus {
	left: 100%;
	margin-left: 0;
}

.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {
}

/* Small menu */
.menu-toggle {
	display: none;
	margin: 1em auto;
}

@media screen and (max-width: 960px) {
	#primary {
		margin-right: 35%;
		width: 65%;
	}

	#secondary {
		width: 35%;
	}
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}

	#primary,
	#secondary {
		float: none;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}

	#secondary {
		border-left: 0;
		text-align: center;
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
7.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
8.0 Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/*--------------------------------------------------------------
9.0 Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.entry-footer:before,
.entry-footer:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
}

.clear:after,
.entry-content:after,
.entry-footer:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
10.0 Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	font-size: 0.9em;
	border-bottom: 1px solid #eee;
}

/*
.widget .widget-title {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #222;
	font-size: 1em;
	font-family: 'OpenSansRegular';
	font-weight: 600;
	margin: 0 0 0.5em;
}
*/

.widget ul {
	list-style-type: none;
	margin: 0;
}

.widget a,
.widget a:visited {
	color: #404040;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-field {
	margin-bottom: 1.5em;
}

/* Archive widget */
.widget_archive select {
	margin-bottom: 1.5em;
}


/*--------------------------------------------------------------
11.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
11.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 2.5em;
    border-bottom: 1px solid #eee;
}
/*
.category-uncategorized{
    border-bottom: none;
}
*/
.byline,
.updated:not(.published) {
	display: block;
    float: left;
    padding: 0px !important;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
11.2 Post formats
--------------------------------------------------------------*/
.blog .format-aside,
.archive .format-aside,
.blog .format-quote,
.archive .format-quote {
	background: #f5f5f5;
	border: 1px solid #eee;
	padding: 1em;
}

.blog .format-aside .entry-footer,
.archive .format-aside .entry-footer,
.blog .format-quote .entry-footer,
.archive .format-quote .entry-footer {
	border-bottom: 0;
}

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

.blog .format-aside .entry-meta,
.archive .format-aside .entry-meta {
	text-align: left;
}

.format-quote .entry-content {
	font-size: 22px;
	font-size: 2.2rem;
	font-family: 'OpenSansRegular';
	font-style: italic;
}

.format-link .entry-content {
	font-size: 20px;
	font-size: 2.0rem;
	text-align: center;
}


/*--------------------------------------------------------------
11.3 Comments
--------------------------------------------------------------*/
.comment-respond,
.no-comments {
	padding: 1em 1em 0;
	border-top: 1px solid #eee;
}

.comment-respond #cancel-comment-reply-link {
	font-family: 'OpenSansRegular';
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 400;
	margin-left: 1em;
}

.comment-respond .logged-in-as {
	font-size: 14px;
	font-size: 1.4rem;
}

.comment-form label {
	display: inline-block;
	min-width: 6em;
	padding-right: 1em;
}

.comment-form .form-allowed-tags,
.comment-form .form-allowed-tags code {
	font-size: 12px;
	font-size: 1.2rem;
}

.comment-content a {
	word-wrap: break-word;
}

.comments-area ol {
	list-style-type: none;
/*	margin: 1em 0 0;*/
}

.comments-area ol.children {
/*
	border: 1px solid #eee;
	border-top: 0;
	margin-bottom: 0;
	box-shadow: 0 3px 3px rgba(200, 200, 200, 0.1);
*/
}

.comment-list {
/*	margin-top: 1em;
    margin-top: 40px;*/
    float: left;
}

.comment-list .comment,
.comment-list .pingback {
/*
	border-top: 1px solid #eee;
	padding: 1em;
*/
}

.comment-list .comment.even,
.comment-list .pingback.even {
/*	background: #f5f5f5;*/
}

.comment-list .comment.odd,
.comment-list .pingback.odd {
/*	background: #fbfbfb;*/
}

.comment .comment-metadata {
	font-size: 14px;
	font-size: 1.4rem;
	font-style: italic;
	color: #aaa;
}

.comment .edit-link,
.pingback .edit-link {
	float: right;
	font-size: 14px;
	font-size: 1.4rem;
	font-style: italic;
}

.comment .comment-meta .comment-author .avatar {
	float: left;
	margin-right: 1em;
}

.comment .comment-content {
/*	margin-top: 1em;*/
}

.comment .comment-content p {
/*	margin-bottom: 1em;*/
}

.comment .reply {
	font-size: 14px;
	font-size: 1.4rem;
	font-style: italic;
}

.comment .comment-respond {
	margin-top: 1em;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
12.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
13.0 Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
13.1 Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
	border: 1px solid #eee;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
	font-style: italic;
	font-family: 'OpenSansRegular';
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/*--------------------------------------------------------------
13.2 Galleries
--------------------------------------------------------------*/
.gallery {
	margin: 1.5em 0px;
	padding: 2em;
	background: #fff;
	border: 1px solid #eee;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	margin-bottom: 1em;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/********************************  mine ************************/
/*#container {
	display: table;
	-moz-box-sizing: content-box; 
	-webkit-box-sizing: content-box; 
	box-sizing: content-box;	
	-o-box-sizing: content-box;	
	margin: 0 auto;
	box-shadow: 0 0 30px -20px #999;
	border: solid 1px #ddd;
}
*/

/* The header area full width background */
#banner-bg 	{ 
}

/* The header area */
#banner {
	position: 				relative;
}




/* The main row, with the #content column and perhaps sidebars left/right */
#main 	{ 
	padding: 				30px 0;
}

/* A sidebar */
#widgetarea-one {  
	padding: 				0 20px;
}	

/* The content column */
#content{ 
	padding: 				0px;
}

/*menu */
.user-nav{background: rgba(255, 255, 255, 0.95); box-shadow: -16px -8px 20px -19px rgba(0,0,0,0.4); border:1px solid #cacaca; height: 100%; padding-top: 48px; position: fixed; right: -545px; top: 60px; width: 535px; z-index:9;}
.user-nav:after{background:url(../images/menu-up-arrow.png) no-repeat center top; content: ''; width:9px; height:9px; display: block; position:absolute; top:-9px; left:40%;}
.user-nav ul{float:left; width:42%;}
.user-nav ul li{ border-bottom: 1px solid #ebebeb; float: left; width: 100%;}
.user-nav ul li:last-child{border:none;}
.user-nav ul li a {font-family: 'OpenSansRegular'; color: #686767; float: left; font-size: 13px; line-height: 18px; padding: 12px 15px; width: 100%;}
.social-menu > li > a{padding:10px 0 !important; margin: 0 0 0 6px; float:left;}

/*header*/
header{width:100%; float:left;}
.container{
    width:990px !important; 
    margin: 0 auto !important;  
/*    border:1px solid #000;*/
}
.navbar{margin:0; border-radius:0;}
.navbar-header{width:100%;}
.navi-div{float:right;}
.navbar-default{background:#f5fbfc; border-color:#c2c2c2;}
.navbar-nav > li{float:left; list-style:none;}
.navbar > .container .navbar-brand{margin-left:0; padding:9px 0 5px; height:77px;}
.navbar-default .navbar-nav > li > a.user-icon{background:url(../images/dropdown-icon.png) no-repeat right center; font-size:13px; color:#1252a1; font-family: "Open Sans",sans-serif; font-weight:400; float:left; text-transform:uppercase; padding-right:45px;}
.navbar-right{margin-top:20px; margin-right:0;}

/*footer*/
footer{background:url("images/footer-gradient.jpg") center top; width:100%; float:left; border-width:1px 0; border-style:solid; border-color:#bfbfbf; padding:20px 0;}
.footer-left{width:65%; float:left;}
.footer-right{width:35%; float:right;}
.footer-left ul{width:30%;}
/*.footer-left ul:nth-child(2){width:35%;}*/
footer ul {float: left; padding: 0; width: 100%;}
footer ul li{color: #727272; float: left; font-size: 13px; line-height: 16px; list-style:none; margin-bottom: 9px; position: relative; width: 100%;}
footer ul li a{ padding-left:12px; color: #727272 !important;}
footer ul li a:before { border-bottom:5px solid transparent; border-left:4px solid #8e8e8e; border-top:5px solid transparent; content:""; height:0; margin-top:-4px; position:absolute; left:0; top:50%; width:0; z-index:999;}
footer p { float:left; width:100%; font-size:12px; color:#727272; line-height:18px; margin-bottom:0px; text-align:right;}
footer p a{ color:#000; float:none; text-decoration: underline;}
.social-links { float:left; width:100%; margin-bottom:10px;}
.social-links ul{ float:right; width:auto;}
.social-links li{ float:left; width:auto; margin:0 0 0 6px;}
.social-links a { float:left; padding:0; }
.social-links a:before{ border:0px;}
.footer-fixed footer{position:fixed; bottom:0;}

.form-container { float: left; width: 100%; }
.form-container fieldset { float: left; margin: 6px 0; width: 100%; }
.form-container fieldset label { float: left; width: 82px; }
.form-container fieldset input { border: 1px solid #ccc; padding: 5px; width: 40%;}
.form-container fieldset textarea {border: 1px solid #ccc; height: 89px; resize: none; width: 40%; padding: 5px; font-family: "OpenSansRegular"; }
.form-container .submit-button { background: none repeat scroll 0 0 green; border: medium none; color: #fff; float: left; margin-left: 82px; width: 100px; }

.navbar-brand.blogSub{
	line-height: 62px;
	margin-left: 30px !important;
    text-transform: uppercase;
    font-size: 16px;
}
.navbar-brand.blogSub:hover{
	text-decoration: underline;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}
.navbar-default .navbar-brand {
    color: #777;
}
.home.blog{
	margin-top:0px;
}
.home.blog footer img{
  display:initial;
}
.home.blog #widgetarea-one{
padding-top:30px;
}
.home.blog .widget > h3 > span {
    color: #000;
}
.home.blog .hentry a {
    color: #000;
}
/*.home.blog .hentry:hover h2 a:hover {
    color: #0090d3;
}*/
.colorBlack a{
  color: #000;
}
.home.blog .widget > h3 i{
	display:none;
}
.home.blog .hentry a:hover {
  color: #0090d3;
}
.home.blog .hentry:hover a, .home.blog .hentry a:focus, .entry-title a:hover, .entry-title a:focus {
  color: #b2b2b3;
    text-decoration: none;
}
.home.blog .hentry:hover a.comment-bubble{
  color: #fff;
}

.navbar-default {
    background: #f5fbfc;
    border-color: #c2c2c2;
}
.navbar {
    margin: 0;
    border-radius: 0;
}

.commentReply div{
    float: left;
    padding: 0 30px 0 0;
    font-size: 14px !important;
}
.commentReply div a{
    color: #aaa;
    font-size: 14px !important;
}
.comment .commentReply .reply a{
    font-size: 14px;
    font-style: normal !important;
}
.comment-list .comment-author{
    float: left;
    width: 100%;
}
.comment-list .comment-author img{
    float: left;
/*    width: 10%;*/
}
.comment-list .comment-author p{
    float: right;
    width: 92%;
    font-size: 14px;
}
.comment-list li{
    float: left;
    width: 100%;
/*    margin-bottom: 40px;*/
    border-top: 1px solid #eee;
    padding-top: 40px;
}
#comments .children li{
    list-style: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.commentReply{
    padding-bottom: 40px;
    float: left;
}
#post-1{
    border-bottom: none;
}
.colorGrey{
    color: #aaa !important;
}