/*
Theme Name: Stock
Theme URI: https://github.com/lukecarbis/stock
Author: Luke Carbis
Author URI: http://carb.is
Description: A simple theme, inspired by minimalism & precision.
Version: 1.1.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: stock
Tags: black, white, two-columns, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-menu, editor-style, featured-images, full-width-template, post-formats, rtl-language-support, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

 Stock is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Layout
3.0 Typography
4.0 Elements
5.0 Forms
6.0 Navigation
	6.1 Links
	6.2 Menus
7.0 Accessibility
8.0 Alignments
9.0 Clearings
10.0 Widgets
11.0 Content
	11.1 Posts and pages
	11.2 Post formats
	11.3 Comments
12.0 Infinite scroll
13.0 Media
	13.1 Captions
	13.2 Galleries
--------------------------------------------------------------*/

/*---- Fonts ----*/
@font-face { font-family: 'OpenSansLight'; src: url('fonts/OpenSans-Light-webfont.eot'); src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Light-webfont.woff') format('woff'), url('fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg'); font-weight: normal; font-style: normal;}

@font-face { font-family: 'OpenSansRegular'; src: url('fonts/OpenSans-Regular-webfont.eot'); src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Regular-webfont.woff') format('woff'), url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg'); font-weight: normal; font-style: normal;}

@font-face { font-family: 'OpenSansSemibold'; src: url('fonts/OpenSans-Semibold-webfont.eot'); src: url('fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Semibold-webfont.woff') format('woff'), url('fonts/OpenSans-Semibold-webfont.ttf') format('truetype'), url('fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg'); font-weight: normal;
 font-style: normal;}

@font-face { font-family: 'OpenSansBold'; src: url('fonts/OpenSans-Bold-webfont.eot'); src: url('fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Bold-webfont.woff') format('woff'), url('fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg'); font-weight: normal; font-style: normal;}

@font-face{ font-family:'ralewayregular'; src:url('fonts/raleway-regular-webfont.eot'); src:url('fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/raleway-regular-webfont.woff') format('woff'), url('fonts/raleway-regular-webfont.ttf') format('truetype'), url('fonts/raleway-regular-webfont.svg#ralewayregular') format('svg'); font-weight:normal; font-style:normal;}

@font-face{ font-family:'ralewaylight'; src:url('fonts/raleway-light-webfont.eot'); src:url('fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/raleway-light-webfont.woff') format('woff'), url('fonts/raleway-light-webfont.ttf') format('truetype'), url('fonts/raleway-light-webfont.svg#ralewaylight') format('svg'); font-weight:normal; font-style:normal;}

@font-face{ font-family:'ralewaybold'; src:url('fonts/raleway-bold-webfont.eot'); src:url('fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/raleway-bold-webfont.woff') format('woff'),
url('fonts/raleway-bold-webfont.ttf') format('truetype'), url('fonts/raleway-bold-webfont.svg#ralewaybold') format('svg'); font-weight:normal; font-style:normal;}

@font-face{ font-family:'ralewaymedium';src:url('fonts/raleway-medium-webfont.eot'); src:url('fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/raleway-medium-webfont.woff') format('woff'), url('fonts/raleway-medium-webfont.ttf') format('truetype'), url('fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg'); font-weight:normal; font-style:normal;}


/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: 'OpenSansRegular';
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}

*,
*:before,
*:after { /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
	-webkit-box-sizing: border-box; /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
	-moz-box-sizing:    border-box; /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
	box-sizing:         border-box;
}

body {
	background: #fbfbfb; /* Fallback for when there is no custom background color defined. */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

input:focus,
select:focus,
textarea:focus,
button:focus,
a:focus {
    outline: none;
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}

/*--------------------------------------------------------------
2.0 Layout
--------------------------------------------------------------*/
#masthead,
#colophon {
	width: 100%;
	background: #222;
	color: #f5f5f5;
	font-weight: 300;
}

#masthead .site-branding,
#masthead .main-navigation,
#colophon .site-info {
	width: 100%;
	max-width: 1080px;
	padding: 0 2em;
	margin: 0 auto;
}

#content {
	max-width: 990px;
	padding: 2em;
	margin: 0 auto;
    margin-top: 4.5em;
}

#masthead {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

#colophon {
	padding: 1em 0;
	box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.2);
}

#primary {
	float: right;
	margin-right: 25%;
	padding-right: 2em;
	width: 75%;
}

#primary.full-width {
	float: none;
	margin-right: 0;
	padding-right: 0;
	width: 100%;
}

#secondary {
	float: right;
	width: 25%;
	margin-right: -100%;
	margin-left: 2em;
	padding-left: 2em;
/*	border-left: 1px solid #eee;*/
    margin-top: 2.5em;
}

.entry-header.has-thumbnail {
	position: relative;
}

.entry-header.has-thumbnail .entry-title {
	padding-top: 1em;
	margin: 0 auto;
	height: 12em;
	width: 16em;
	max-width: 100%;
}

.entry-header.has-thumbnail .entry-meta {
	margin-top: 1em;
	margin-bottom: -1em
}

.entry-header .entry-thumbnail {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 24em;
	top: 0;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.entry-footer .comments-link,
.entry-footer .edit-link {
	float: left;
	padding-left: 0;
}

/*--------------------------------------------------------------
3.0 Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: 'OpenSansRegular';
	font-size: 16px;
	font-size: 1.6rem;
/*	line-height: 0;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

h1 {
	font-size: 32px;
	font-size: 3.2rem;
	font-family: 'OpenSansRegular';
	font-weight: 600;
}

h2 {
	font-size: 28px;
	font-size: 2.8rem;
	font-family: 'OpenSansRegular';
	font-weight: 600;
}

h3 {
	font-size: 24px;
	font-size: 2.4rem;
	font-family: 'OpenSansRegular';
	font-weight: 600;
}

h4 {
	font-size: 24px;
	font-size: 2.4rem;
	font-family: 'OpenSansRegular';
}

h5 {
	font-size: 20px;
	font-size: 2.0rem;
	font-family: 'OpenSansRegular';
}

h6 {
	font-size: 16px;
	font-size: 1.6rem;
	font-family: 'OpenSansRegular';
}

h1.site-title {
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 24px;
	font-size: 2.4rem;
	padding: 1em 0 0 0;
	letter-spacing: 0.1em;
	font-family: 'OpenSansRegular';
}

h1.site-title a:hover {
	text-decoration: none;
}

h2.site-description {
	text-align: center;
	font-weight: 300;
	font-style: italic;
	font-size: 16px;
	font-size: 1.6rem;
	font-family: 'OpenSansRegular';
}

h1.page-title {
	padding-bottom: 0px;
	margin-bottom: 0.5em;
/*	border-bottom: 1px solid #eee;*/
	text-align: left;
	font-style: normal;
	font-size: 28px;
	font-size: 2.8rem;
}

h1.entry-title {
	font-size: 26px;
	line-height: 34px;
	/* font-size: 3.2rem; */
	text-align: left;
	font-weight: 600;
	font-family: 'OpenSansRegular';
    margin: 0 0 25px 0;
}

.entry-header.has-thumbnail {
	text-align: center;
}

.entry-header.has-thumbnail .entry-title span {
	background: #fff;
	box-shadow: 0.2em 0 0 #fff, -0.2em 0 0 #fff, 0 3px 3px rgba(0, 0, 0, 0.2);
}

.entry-meta {
	font-size: 14px;
	font-size: 1.4rem;
	font-style: normal;
	text-align: left;
	color: #aaa;
    float: left;
}
.entry-meta span{
    padding: 0 30px 0 0;
}
.entry-meta,
.entry-meta a,
.entry-meta a:visited {
	color: #aaa;
}

.entry-footer {
/*	border-bottom: 1px solid #eee;*/
	padding-bottom: 1em;
	font-size: 14px;
	font-size: 1.4rem;
    background: none;
}

.entry-meta .icon, .comments-link .icon {
    margin: 0 10px 0 0;
    color: #ccc;
}

.entry-content .meta-nav{
	display:inline-block;
	padding:0px 10px;
	margin:0;
	font-size:20px;
	font-weight:bold;
	line-height:1;
	background:#ccc;
	border-radius:2px;
	color:#fff;
	letter-spacing:1px;
}

.more-link{
    float: right;
    margin-bottom: 1.5em;
}

.search-form {
    border:1px solid #ddd;
    margin-bottom: 40px;
    width: 220px;
}

aside .search-form {
    border:1px solid #ddd;
    margin-bottom: 40px;
    width: auto;
}

.searchPage .search-field{
    border: none;
    line-height: 40px;
    margin-bottom: 0px !important;
}

aside .search-field{
	padding-right:0;
	line-height:20px;
}

aside .search-form input[type="submit"], input[type="submit"]{
	background:none;
	font-size:20px;
	color:#aaa;
    border: none;
    padding-top: 17px;
}
aside .search-form input[type="submit"]:hover, .search-form input[type="submit"]:hover{color:#00aeff;}

aside .search-form input[type="search"], input[type="search"]{
    border: none;
    background: none;
    padding: 20px 2px 20px 12px;
    margin-bottom: 0px;
    float: left;
/*    width: 150px;*/
}

.widget .widget-title{
	padding: 0 0 20px 0;
	border-bottom:1px solid #eee;
	margin:0;
    font-size:22px;
}

.widget a{
	padding: 0 0 20px 10px;
	margin:0;
    line-height: 40px;
}

.widget.widget_search{
    border-bottom: none;
}

.comments-area h1 {
    margin: 0 0 25px 0;
    font-size:24px;
}

.comment-list li {
/*
    border-top: 1px solid #eee;
    position: relative;
    padding: 40px 0 40px 80px;
*/
}

.entry-content .meta-nav:hover{background:#00aeff;}

.entry-footer .cat-links {
	padding-right: 1em;
}

.page .entry-footer {
	border-bottom: 0;
}

.main-navigation li {
	font-size: 14px;
	font-size: 1.4rem;
}

.site-info {
	font-size: 14px;
	font-size: 1.4rem;
}

p {
	margin-bottom: 1.5em;
}

b,
strong {
	font-weight: bold;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
	font-family: 'OpenSansRegular';
	font-size: 24px;
	font-size: 2.4rem;
	font-style: italic;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: 'OpenSansRegular';
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
4.0 Elements
--------------------------------------------------------------*/
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 0;
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

th {
	font-weight: bold;
}

/*--------------------------------------------------------------
5.0 Forms
--------------------------------------------------------------*/
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
}

button,
input[type="button"],
input[type="reset"]
/*input[type="submit"] */
{
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}

input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	line-height: 1em;
	padding: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #222;
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 5px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
	line-height: 1.5em;
}

/*--------------------------------------------------------------
6.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
6.1 Links
--------------------------------------------------------------*/
a,
a:visited {
	color: #000;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #404040;
	text-decoration: underline;
}

#masthead a,
#colophon a,
#masthead a:visited,
#colophon a:visited {
	color: #f5f5f5;
}

#masthead a:hover,
#colophon a:hover,
#masthead a:focus,
#colophon a:focus,
#masthead a:active,
#colophon a:active {
	color: #fff;
}

.entry-content a,
.entry-content a:visited,
.comment-content a,
.comment-content a:visited {
	text-decoration: underline;
}

.entry-content a:hover,
.entry-content a:focus,
.entry-content a:active,
.comment-content a:hover,
.comment-content a:focus,
.comment-content a:active {
	text-decoration: none;
}


/*--------------------------------------------------------------
6.2 Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	font-size: 0;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-top: 3px;
	padding-left: 0;
	text-align: center;
}

.main-navigation li {
	position: relative;
	display: inline-block;
	font-size: 14px;
}

.main-navigation a {
	display: block;
	text-decoration: none;
	padding: 0.5em 1em;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	background: #222;
	text-align: left;
	top: auto;
	left: -999em;
	padding-top: 0;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul ul li a {
	padding: 0.5em 1em;
	border-bottom: none;
}

.main-navigation li > a {
	border-bottom: 3px solid #222;
}

.main-navigation li:hover > a,
.main-navigation li a:focus {
	border-bottom: 3px solid #fff;
}

.main-navigation ul ul li:hover,
.main-navigation ul ul li a:focus {
	background: rgba(200,200,200,0.25);
}

.main-navigation ul ul li:hover > a,
.main-navigation ul ul li > a:focus {
	border-bottom: none;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li > a:focus + ul,
.main-navigation ul.nav-focus {
	left: auto;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li > a:focus + ul,
.main-navigation ul ul li > ul.nav-focus {
	left: 100%;
	margin-left: 0;
}

.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {
}

/* Small menu */
.menu-toggle {
	display: none;
	margin: 1em auto;
}

@media screen and (max-width: 960px) {
	#primary {
		margin-right: 35%;
		width: 65%;
	}

	#secondary {
		width: 35%;
	}
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}

	#primary,
	#secondary {
		float: none;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}

	#secondary {
		border-left: 0;
		text-align: center;
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
7.0 Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
8.0 Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/*--------------------------------------------------------------
9.0 Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.entry-footer:before,
.entry-footer:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
}

.clear:after,
.entry-content:after,
.entry-footer:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
10.0 Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	font-size: 0.9em;
	border-bottom: 1px solid #eee;
}

/*
.widget .widget-title {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: #222;
	font-size: 1em;
	font-family: 'OpenSansRegular';
	font-weight: 600;
	margin: 0 0 0.5em;
}
*/

.widget ul {
	list-style-type: none;
	margin: 0;
}

.widget a,
.widget a:visited {
	color: #404040;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-field {
	margin-bottom: 1.5em;
}

/* Archive widget */
.widget_archive select {
	margin-bottom: 1.5em;
}


/*--------------------------------------------------------------
11.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
11.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 2.5em;
    border-bottom: 1px solid #eee;
}
/*
.category-uncategorized{
    border-bottom: none;
}
*/
.byline,
.updated:not(.published) {
	display: block;
    float: left;
    padding: 0px !important;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
11.2 Post formats
--------------------------------------------------------------*/
.blog .format-aside,
.archive .format-aside,
.blog .format-quote,
.archive .format-quote {
	background: #f5f5f5;
	border: 1px solid #eee;
	padding: 1em;
}

.blog .format-aside .entry-footer,
.archive .format-aside .entry-footer,
.blog .format-quote .entry-footer,
.archive .format-quote .entry-footer {
	border-bottom: 0;
}

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

.blog .format-aside .entry-meta,
.archive .format-aside .entry-meta {
	text-align: left;
}

.format-quote .entry-content {
	font-size: 22px;
	font-size: 2.2rem;
	font-family: 'OpenSansRegular';
	font-style: italic;
}

.format-link .entry-content {
	font-size: 20px;
	font-size: 2.0rem;
	text-align: center;
}


/*--------------------------------------------------------------
11.3 Comments
--------------------------------------------------------------*/
.comment-respond,
.no-comments {
	padding: 1em 1em 0;
	border-top: 1px solid #eee;
}

.comment-respond #cancel-comment-reply-link {
	font-family: 'OpenSansRegular';
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 400;
	margin-left: 1em;
}

.comment-respond .logged-in-as {
	font-size: 14px;
	font-size: 1.4rem;
}

.comment-form label {
	display: inline-block;
	min-width: 6em;
	padding-right: 1em;
}

.comment-form .form-allowed-tags,
.comment-form .form-allowed-tags code {
	font-size: 12px;
	font-size: 1.2rem;
}

.comment-content a {
	word-wrap: break-word;
}

.comments-area ol {
	list-style-type: none;
/*	margin: 1em 0 0;*/
}

.comments-area ol.children {
/*
	border: 1px solid #eee;
	border-top: 0;
	margin-bottom: 0;
	box-shadow: 0 3px 3px rgba(200, 200, 200, 0.1);
*/
}

.comment-list {
/*	margin-top: 1em;
    margin-top: 40px;*/
    float: left;
}

.comment-list .comment,
.comment-list .pingback {
/*
	border-top: 1px solid #eee;
	padding: 1em;
*/
}

.comment-list .comment.even,
.comment-list .pingback.even {
/*	background: #f5f5f5;*/
}

.comment-list .comment.odd,
.comment-list .pingback.odd {
/*	background: #fbfbfb;*/
}

.comment .comment-metadata {
	font-size: 14px;
	font-size: 1.4rem;
	font-style: italic;
	color: #aaa;
}

.comment .edit-link,
.pingback .edit-link {
	float: right;
	font-size: 14px;
	font-size: 1.4rem;
	font-style: italic;
}

.comment .comment-meta .comment-author .avatar {
	float: left;
	margin-right: 1em;
}

.comment .comment-content {
/*	margin-top: 1em;*/
}

.comment .comment-content p {
/*	margin-bottom: 1em;*/
}

.comment .reply {
	font-size: 14px;
	font-size: 1.4rem;
	font-style: italic;
}

.comment .comment-respond {
	margin-top: 1em;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
12.0 Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
13.0 Media
--------------------------------------------------------------*/
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
13.1 Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
	border: 1px solid #eee;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0 auto;
}

.wp-caption-text {
	text-align: center;
	font-style: italic;
	font-family: 'OpenSansRegular';
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/*--------------------------------------------------------------
13.2 Galleries
--------------------------------------------------------------*/
.gallery {
	margin: 1.5em 0px;
	padding: 2em;
	background: #fff;
	border: 1px solid #eee;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	margin-bottom: 1em;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}

/********************************  mine ************************/
/*#container {
	display: table;
	-moz-box-sizing: content-box; 
	-webkit-box-sizing: content-box; 
	box-sizing: content-box;	
	-o-box-sizing: content-box;	
	margin: 0 auto;
	box-shadow: 0 0 30px -20px #999;
	border: solid 1px #ddd;
}
*/

/* The header area full width background */
#banner-bg 	{ 
}

/* The header area */
#banner {
	position: 				relative;
}




/* The main row, with the #content column and perhaps sidebars left/right */
#main 	{ 
	padding: 				30px 0;
}

/* A sidebar */
#widgetarea-one {  
	padding: 				0 20px;
}	

/* The content column */
#content{ 
	padding: 				0px;
}

/*menu */
.user-nav{background: rgba(255, 255, 255, 0.95); box-shadow: -16px -8px 20px -19px rgba(0,0,0,0.4); border:1px solid #cacaca; height: 100%; padding-top: 48px; position: fixed; right: -545px; top: 60px; width: 535px; z-index:9;}
/* .user-nav:after{background:url("images/menu-up-arrow.png") no-repeat center top; content: ''; width:9px; height:9px; display: block; position:absolute; top:-9px; left:40%;} */
.user-nav ul{float:left; width:42%;}
.user-nav ul li{ border-bottom: 1px solid #ebebeb; float: left; width: 100%;}
.user-nav ul li:last-child{border:none;}
.user-nav ul li a {font-family: 'OpenSansRegular'; color: #686767; float: left; font-size: 13px; line-height: 18px; padding: 12px 15px; width: 100%;}
.social-menu > li > a{padding:10px 0 !important; margin: 0 0 0 6px; float:left;}

/*header*/
header{width:100%; float:left;}
.container{
    width:990px; 
    margin: 0 auto !important;  
/*    border:1px solid #000;*/
}
.navbar{margin:0; border-radius:0;}
.navbar-header{width:100%;}
.navi-div{float:right;}
.navbar-default{background:#f5fbfc; border-color:#c2c2c2;}
.navbar-nav > li{float:left; list-style:none;}
.navbar > .container .navbar-brand{margin-left:0; padding:9px 0 5px; height:77px;}
.navbar-default .navbar-nav > li > a.user-icon{background:url("images/dropdown-icon.png") no-repeat right center; font-size:13px; color:#1252a1; font-family: "Open Sans",sans-serif; font-weight:400; float:left; text-transform:uppercase; padding-right:45px;}
.navbar-right{margin-top:10px; margin-right:0;}

/*footer*/
footer{background:url("images/footer-gradient.jpg") center top; width:100%; float:left; border-width:1px 0; border-style:solid; border-color:#bfbfbf; padding:20px 0;}
.footer-left{width:65%; float:left;}
.footer-right{width:35%; float:right;}
.footer-left ul{width:30%;}
/*.footer-left ul:nth-child(2){width:35%;}*/
footer ul {float: left; padding: 0; width: 100%;}
footer ul li{color: #727272; float: left; font-size: 13px; line-height: 16px; list-style:none; margin-bottom: 9px; position: relative; width: 100%;}
footer ul li a{ padding-left:12px; color: #727272 !important;}
footer ul li a:before { border-bottom:5px solid transparent; border-left:4px solid #8e8e8e; border-top:5px solid transparent; content:""; height:0; margin-top:-4px; position:absolute; left:0; top:50%; width:0; z-index:999;}
footer p { float:left; width:100%; font-size:12px; color:#727272; line-height:18px; margin-bottom:0px; text-align:right;}
footer p a{ color:#000; float:none; text-decoration: underline;}
.social-links { float:left; width:100%; margin-bottom:10px;}
.social-links ul{ float:right; width:auto;}
.social-links li{ float:left; width:auto; margin:0 0 0 6px;}
.social-links a { float:left; padding:0; }
.social-links a:before{ border:0px;}
.footer-fixed footer{position:fixed; bottom:0;}

.form-container { float: left; width: 100%; }
.form-container fieldset { float: left; margin: 6px 0; width: 100%; }
.form-container fieldset label { float: left; width: 82px; }
.form-container fieldset input { border: 1px solid #ccc; padding: 5px; width: 40%;}
.form-container fieldset textarea {border: 1px solid #ccc; height: 89px; resize: none; width: 40%; padding: 5px; font-family: "OpenSansRegular"; }
.form-container .submit-button { background: none repeat scroll 0 0 green; border: medium none; color: #fff; float: left; margin-left: 82px; width: 100px; }

.navbar-brand.blogSub{
	line-height: 62px;
	margin-left: 30px !important;
    text-transform: uppercase;
    font-size: 16px;
}
.navbar-brand.blogSub:hover{
	text-decoration: underline;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}
.navbar-default .navbar-brand {
    color: #777;
}
.home.blog{
	margin-top:0px;
}
.home.blog footer img{
  display:initial;
}
.home.blog #widgetarea-one{
padding-top:30px;
}
.home.blog .widget > h3 > span {
    color: #000;
}
.home.blog .hentry a {
    color: #000;
}
/*.home.blog .hentry:hover h2 a:hover {
    color: #0090d3;
}*/
.colorBlack a{
  color: #000;
}
.home.blog .widget > h3 i{
	display:none;
}
.home.blog .hentry a:hover {
  color: #0090d3;
}
.home.blog .hentry:hover a, .home.blog .hentry a:focus, .entry-title a:hover, .entry-title a:focus {
  color: #b2b2b3;
    text-decoration: none;
}
.home.blog .hentry:hover a.comment-bubble{
  color: #fff;
}

.navbar-default {
    background: #f5fbfc;
    border-color: #c2c2c2;
}
.navbar {
    margin: 0;
    border-radius: 0;
}

.commentReply div{
    float: left;
    padding: 0 30px 0 0;
    font-size: 14px !important;
}
.commentReply div a{
    color: #aaa;
    font-size: 14px !important;
}
.comment .commentReply .reply a{
    font-size: 14px;
    font-style: normal !important;
}
.comment-list .comment-author{
    float: left;
    width: 100%;
}
.comment-list .comment-author img{
    float: left;
/*    width: 10%;*/
}
.comment-list .comment-author p{
    float: right;
    width: 92%;
    font-size: 14px;
}
.comment-list li{
    float: left;
    width: 100%;
/*    margin-bottom: 40px;*/
    border-top: 1px solid #eee;
    padding-top: 40px;
}
#comments .children li{
    list-style: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.commentReply{
    padding-bottom: 40px;
    float: left;
}
#post-1{
    border-bottom: none;
}
.colorGrey{
    color: #aaa !important;
}

.user-nav {
    background: rgba(255, 255, 255, 0.95) none repeat scroll 0 0;
    border: 1px solid #cacaca;
    box-shadow: -16px -8px 20px -19px rgba(0, 0, 0, 0.4);
    height: 100%;
    padding-top: 30px;
    position: fixed;
    right: -545px;
    top: 60px;
    width: 535px;
    z-index: 1042;
}
.user-nav ul {
    float: left;
    width: 42%;
}
.home-links .user-nav ul li, .user-nav ul li {
    border-bottom: 1px solid #ebebeb;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}
.home-links .user-nav ul li:last-child, .user-nav ul li:last-child {
    border: medium none;
}
.home-links .user-nav ul li a, .user-nav ul li a {
    color: #686767;
    float: left;
    font-family: "OpenSansRegular";
    font-size: 13px;
    line-height: 18px;
    padding: 12px 15px;
    width: 100%;
}
.home-links .user-nav ul li a:hover, .user-nav ul li a:hover {
    color: #003e96;
}
.social-menu > li > a {
    margin: 0 0 0 6px;
    padding: 10px 0;
}
.home-links, .menu-section {
    float: left;
    margin: 8px 0 0 5px;
}
.home-links ul li, .menu-section li {
    float: left;
    margin: 0;
    padding: 8px 10px;
    list-style: none;
}
.home-links ul li a, .menu-section li a {
    color: #686767;
    font-size: 13px;
    text-decoration: none;
}
.home-links ul li a:hover, .menu-section li a:hover {
    color: #003e96;
    text-decoration: none;
}
.home-links ul li:last-child, .menu-section li:last-child {
    margin: 0 0 10px;
}
.links-nav > li:nth-last-child(2) {
    padding-right: 10px;
}
.links-nav > li:last-child::before {
   /*  content: "|"; */
    margin-right: 10px;
    padding: 0;
}

.home-links .dropdown .caret, .menu-section .dropdown .caret {
    background: rgba(0, 0, 0, 0) url("images/arrow-black.png") no-repeat scroll center center;
    border: medium none;
    height: 5px;
    margin: -3px 0 0 4px;
    width: 6px;
}
.home-links .dropdown-menu, .menu-section .dropdown-menu {
    background: rgba(255, 255, 255, 0.95) none repeat scroll 0 0;
    border: 1px solid #cacaca;
    border-radius: 0;
    box-shadow: -10px -3px 22px -10px rgba(0, 0, 0, 0.4);
    left: 0;
    min-width: 180px;
    padding: 25px 0 5px;
    top: 80%;
}
.home-links .dropdown-menu::after, .menu-section .dropdown-menu::after {
    background: rgba(0, 0, 0, 0) url("images/menu-up-arrow.png") no-repeat scroll center top;
    content: "";
    display: block;
    height: 9px;
    left: 45px;
    position: absolute;
    top: -9px;
    width: 9px;
}
.home-links .dropdown-menu li, .menu-section .dropdown-menu li {
    border-bottom: 1px solid #ebebeb;
    padding: 4px 0;
    width: 100%;
}
.home-links .dropdown-menu li:last-child, .menu-section .dropdown-menu li:last-child {
    border: medium none;
}
.home-links .dropdown-menu li a, .menu-section .dropdown-menu li a {
    color: #686767;
    font-size: 13px;
    padding: 3px 10px 3px 25px;
}
.home-links .dropdown-menu li a:hover, .home-links .dropdown-menu li a:focus, .menu-section .dropdown-menu li a:hover, .menu-section .dropdown-menu li a:focus {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #003e96;
}
.navbar-nav li a.user-icon {
    background: rgba(0, 0, 0, 0) url("images/dropdown-icon.png") no-repeat scroll right center;
    color: #1252a1;
    float: left;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 20px;
    padding-right: 45px;
    text-indent: -9999px;
    text-transform: uppercase;
}
.navbar-nav li a.user-icon.active::after {
    background: rgba(0, 0, 0, 0) url("images/menu-up-arrow.png") no-repeat scroll center top;
    bottom: -7px;
    content: "";
    display: block;
    height: 9px;
    left: 36px;
    position: absolute;
    transition: all 0.7s ease 0s;
    width: 9px;
    z-index: 9991;
}
.menu-section {
    float: right;
}
.menu-links {
    float: left;
    margin: 8px 5px 0;
}
.menu-links li {
    float: left;
    margin: 0 10px;
    padding: 18px 0;
}
.menu-links li a {
    color: #2e2e2e;
    font-size: 13px;
}
.menu-links li a:hover {
    color: #003e96;
}
.navbar-nav li a span {
    float: left;
    height: 26px;
    line-height: 30px;
    width: auto;
}
.links-mb, .close-menu{
    display: none;
}
/* 
.home-links{
	margin-top:0px;
}
 */
 
 
 @media (min-width:1200px){
footer .col-xs-12{padding:0;}
}

@media only screen and (max-width : 1024px) {
.container{width:100%; float:left;}
.inner-content{margin-top:48px;}
.navbar > .container .navbar-brand{padding: 9px 15px 5px;}
.login-state .dropdown-menu{min-width:256px; right:-22px;}
.navi-div{margin-right:20px;}
.app-on-stores{padding: 40px 0;}
.block{display:inline;}
.footer-fixed footer{position:inherit; bottom:inherit;}
.pulse-app, .bx-wrapper .bx-viewport{background:none;}
.portfolioFilter{margin-top:30px;}
.portfolioFilter ul li{padding:0 15px;}
.latest-comment-art, .comments-on-article, .comment-background, .article-detail-comment{width:100%;}
.user-nav:after{left:inherit; right:12px;}
.consent-select-box li span{padding-right:5px;}
#owl-demo .item{height:90px;}
.interest-box .interest-detail .delete img{margin-top:1px;}
#beat-videos .select-video li, #consent-frm .select-video li{margin:0 0 15px 30px; width:90%;}/*25 june*/
/* .row{margin:0;} 
.container{padding-left:12px; padding-right:12px;} */

}
@media (min-width:990px) and (max-width:1200px) {
.share-article .edit-article-form fieldset .form-control { width: 62%; }
}
@media (min-width:768px) and (max-width:991px) {
.slide-text h2, .app-on-stores h2{font-size:32px;}
.device{min-height:460px;}
.device-text{width:90%;}
.device-text h2{font-size:32px; line-height:38px; margin: 90px 0 0;}
.slide-text p{font-size:16px;}
.device > span{right:-110px;}
.device > span img {width: 80%;}
.product-details{background-size:100% auto;}
.txt-block.block1:before{height:150px;}
.txt-block.block1 {left: 24%; padding-right: 7px; top: 10px; width: 50%;}
.txt-block.block2{margin-top: 220px; width:50%; left:0;}
.txt-block.block2:before{height:110px;}
.txt-block.block2:after {bottom:32px;}
.txt-block.block3:before{top: 50px; height:92px;}
.txt-block.block3:after{top:45px;}
.txt-block.block3 p {padding: 42px 0 0;}
.txt-block.block4{right:32%; margin-top: 320px; padding: 20px 0 0 7px;}
.txt-block.block4:after{bottom:15px;}
.txt-block.block4:before {height:145px;}
.txt-block.block4 > p { padding-top: 30px;}
.app-on-stores{bottom:0;}
.app-on-stores ul li{width:100%; margin-bottom:10px;}
.device-text h2{font-size:24px;}
.footer-left ul{width: 35%;}
.footer-left ul:nth-child(2){width:30%;}
.device .slide-image .bx-wrapper .bxslider1 li{width:237px !important;}
.device .slide-image{right:inherit; width:100%; float:left; background-size:420px auto; background-position:center top; top:20px; position:relative; overflow:hidden; border-bottom:1px solid #c6c6c6;}
.device .slide-image .bx-wrapper{max-width:237px !important; top:76px; left:-47px;}
.device-text{width:100%; float:left;}
.device-text h2{font-size:20px; line-height:26px; text-align:center; margin-bottom:10px;}
.app-on-stores{position:relative; bottom:inherit;}
.app-on-stores{width:100%; float:left; padding:40px 15px 10px;}
.app-on-stores ul{text-align:center; margin:auto; width:100%;}
.app-on-stores ul li{width:48%; float:left; margin-right:10px;}
.app-on-stores ul li:first-child{text-align:right;}
.app-on-stores ul li:last-child{margin:0; text-align:left;}
.app-on-stores ul li img{height:auto;}
.articleContainer .block,.load_div .block{width:47.8%; margin:0 1% 15px;}
.article-info{width:100%; float:none;}
.article-info h3{width:100%;}
.inner-content .article-info h2{clear:both;}
.edit-article, .report-article,.delete-article{float:left; margin:5px 0 10px; position:relative;}
.delete-article { right: -10px; }
.edit-article-form fieldset .form-control{width:83.2%;}
.edit-article-form textarea, .edit-article-form label.desc{min-height:115px;}
.share-article .edit-article-form input[type="text"]{width:62%; height:40px;}
.share-article .edit-article-form fieldset .form-control{width:62%; height:40px;}
.share-article .edit-article-form textarea{width:62%;}
.share-edit{margin-left:0;}
.share-edit .link-form{margin-left:10px;}
.article-detail-content{padding-left:20px;}
.slider-download .bx-wrapper .bx-next{margin-right:-70px !important;}
.inner-content{ padding-bottom:0; min-height:inherit;}
.signup, .profile-form, .latest-comment-art:last-child{margin-bottom:0; border-bottom:none;}
.nobdr{margin-bottom:0; border-bottom:none;}
.menu-links li, .menu-links .profile-state{margin:0 6px;}
#input{width:180px; right:25px; height:28px;}
#input input{width:170px; /* left:-200px; */}
#consent-form .modal-dialog{width:98%;}
.search-consent input.search-bar{width:83%;}
.consent-left{padding: 0 30px 0 15px;}
.consent-right{padding:0 20px 0 45px;}
.consent-select-box li{padding: 10px 8px 0;}
.consent-select-box input[type="checkbox"]:not(:checked) + label, .consent-select-box input[type="checkbox"]:checked + label{padding-left: 40px;}
.consent-select-box li{font-size:12px;}
.consent-select-box li span{padding-right:5px; font-size:12px;}
.add-consent .form-control, .select-video label{font-size:13px;}
.select-video label{text-overflow:ellipsis; overflow:hidden; white-space: nowrap;}
.upload-btn-group{float:left; clear:both;}
.file-upload-filename{float:left;}
.upload-btn-group .btn{min-width: 120px;}
.download-doc{width:15%; padding:20px 0 35px;}
.slider-download .owl-controls .owl-buttons div{top:40%;}
.slider-download .slider-inner{width:80%; padding: 15px 4% 0;}
.signup-form form{width:100%; float:left;}
}

@media (min-width:992px) and (max-width:1199px) {
.device .slide-image .bx-wrapper{left:-51px; top:88px;}
.inner-content{ padding-bottom:0; min-height:inherit; margin-bottom: 96px;}
.signup, .profile-form, .latest-comment-art:last-child{/* margin-bottom:0; */ border-bottom:none;}
.nobdr{margin-bottom:0; border-bottom:none;}
.articleContainer .block,.load_div .block{width:47.8%; margin:0 1% 15px;}
.latest-comment-art:last-child{margin-bottom:21px;}
}

@media (min-width:768px) and (max-width:1023px){
#beat-images .modal-dialog { margin-top: 30%;}
.follow-list .item-text {    width: 68%;}
.follow-list .item-follow-btn {    width: 20%;}
.ms-drop ul{overflow-x:hidden; overflow-y:scroll; float:left;}
/*#consent-form .modal-dialog{ max-height:280px; overflow:scroll; -webkit-overflow-scrolling: touch; position:fixed;}
.add-consent input.form-control#patientName{ float:left; height:auto; color:#f00; line-height:20px; border:1px solid red; opacity: 1;}*/
}
@media (min-width:768px) and (max-width:1024px) and (orientation:landscape){
 #beat-images .modal-dialog {  margin-top: 20%;  }}
@media screen and (max-width:767px) {
.article-info.logged h3{ float:left;}
#consent-form .modal-dialog,#report-Beat .modal-dialog{z-index:999999999; }
/*#consent-form .modal-dialog{ max-height:280px; overflow:scroll; -webkit-overflow-scrolling: touch; position:fixed;}
{ position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  overflow: auto;}
.form-control::-moz-placeholder{opacity:1;}
.form-control{float:left; position:static; transition:none;}

.consent-frm .form-group,.consent-frm .form-group input{ float:left; display:block;}
#consent-frm{ overflow:visible; float:left;}
.form-control.profession { position: static; }*/
/* form{ overflow:hidden;} */
.wrapper{position:relative;}
div#consent-form{-webkit-overflow-scrolling: touch;}
.form{float:left; width:100%;}
/*
body{background:#eee;}
.hentry{border: 1px solid #bbb;}
*/
.row{margin:0;}
footer{bottom:inherit; position:inherit;}
.container{padding-left:12px; padding-right:12px;}
footer .col-xs-12{padding:0;}
.social-links{width:auto;}
footer p{text-align:left; padding-left:5px;}
.content{padding:30px 0; /* margin-top:60px; */ border-top:none; margin-bottom:0;}
.overlay-bg {background:#000000; width: 100%; height: 100%; opacity: 0.7; position: fixed; top:0; left:0; z-index: 1031;}
.navbar-right{float:right;}
.user-nav{width:250px; background:#fff; right:-260px; padding:0; z-index:1042; overflow-x:hidden; overflow-y:auto; top:5px;}
.user-nav:after, .navbar-nav li a.user-icon.active:after{left:inherit; right:30px; background:none;}
.user-nav ul{width:100%;}
.user-nav ul li:first-child{border-top: 1px solid #ebebeb;}
.home-links .user-nav ul li a{font-size:14px; background:url(images/ico-menu-arrow.png) no-repeat 92% center; padding:7px 15px 10px;}
.home-links .user-nav ul li a:hover {color:#686767; background:url(images/ico-menu-arrow.png) no-repeat 92% center #ebebeb;}
.navbar-default .navbar-nav > li > a.user-icon{margin:15px 5px 0 0;}
.menu-section{float:left;}
.menu-section li{padding:5px 10px;}
.menu-section .dropdown-menu{top:100%;}
.close-menu{background:url(images/arrow-back.png) no-repeat right center; width:25px; text-indent:-9999px; height:25px; position:relative; right:15px; display:block; margin:12px 0; float:right;}
.links-nav{display:none;}
.home-links .user-nav ul li:last-child{border-bottom:1px solid #ebebeb; margin:0;}
.navbar-fixed-top{z-index:1032;}
.menu-links .profile-state{border:none; margin: 3px 0 0; padding: 0 5px 0 0;}
/* .dropdown-menu,  */
.links-mb{display:block;}
.home-links ul.submenu li a{padding:7px 15px 7px 25px;}
.home-links ul.submenu li:last-child{border:none;}
.home-links .dropdown{padding-top:5px; padding-right:0;}
.home-links ul.submenu li a{font-size:12px;}
.fl{float:left;}
.navi-div{float:right; margin:0;}
.navbar > .container .navbar-brand{padding:10px 0; margin-bottom:8px;}
.navbar-brand > img{transform: scale(0.9);}
.navbar-default .navbar-collapse{border:none;}
.social-menu > li{width:auto;}
.menu-links{margin:0 0 5px;}
.menu-links li{margin:3px 0; padding:0 5px 0 0;}
.profile-state{border:none; padding:0; float:none;}
.login-state{margin-top:0;}
.nonlogin-state{margin:2px 10px 10px 0;}
.nonlogin-state li{margin:3px 0; padding:0 10px 0 0;}
.login-state li{margin:3px 0; padding:0 5px 0 0;}
.login-state li.dropdown.open{float:none;}
.social-state{padding:0; margin:5px 0;}
.social-menu > li:first-child{width:100%;}
.social-state > li:first-child > a{margin-left:0;}
.navbar-nav .open .dropdown-menu{position:relative; min-width:240px; left:-10px; top:inherit;}
.navbar-nav .open .dropdown-menu:after{background:none;}
.navbar-nav .login-state .open .dropdown-menu > li > a{padding:4px 5px 4px 35px;}
.navbar-nav .login-state .open .dropdown-menu > li > a:hover{background-color:none; color:#003e96; background:url(images/nav-sprite.png) no-repeat;}
.navbar-nav .login-state .open .dropdown-menu > li.beat a:hover{background-position:left 5px;}
.navbar-nav .login-state .open .dropdown-menu > li.consent a:hover{background-position:left -36px;}
.navbar-nav .login-state .open .dropdown-menu > li.invite a:hover{background-position:left -70px;}
.navbar-nav .login-state .open .dropdown-menu > li.about-us a:hover{background-position:left -110px;}
.navbar-nav .login-state .open .dropdown-menu > li.feed a:hover{background-position:left -150px;}
.navbar-nav .login-state .open .dropdown-menu > li.faqs a:hover{background-position:left -186px;}
.navbar-nav .login-state .open .dropdown-menu > li.terms a:hover{background-position:left -220px;}
.navbar-nav .login-state .open .dropdown-menu > li.setting a:hover{background-position:left -256px;}
.navbar-nav .login-state .open .dropdown-menu > li.logout a:hover{background-position:left -290px;}
/*.navbar-nav .notification-alert{padding:1px 0 0;}*/

.menuHeight{height:240px;}
#label label{margin:4px 0 0;}
#input{left:30px; right:inherit; width:260px;}
.profile-state{width:100%;}
.slide-text{width:96%; padding:0 2%; min-height:inherit; text-align:center;}
.bxslider li{min-height:210px;}
.slide-text p{font-size:15px; letter-spacing: -0.5px; line-height:22px;}
.slide-text h2, .slide-text.last h2{font-size:28px; text-align:center; margin:20px 0 0;}
.slide-text h2{font-size:22px;}
.inner-content{margin-top:78px; padding-bottom:0; margin-bottom:0;}
.inner-content h2{font-size:25px; padding:0 5px 10px;}
.bxslider li{background:none !important;}
.bx-wrapper .bx-pager{bottom:0px;}
.product-section, .down-arrow{display:none;}
.app-on-stores{position:relative; bottom:inherit;}
.app-on-stores h2{font-size:28px; padding:0 5px 10px;}
.app-on-stores ul{margin:10px 0 0;}
.app-on-stores ul li{padding:0 0 10px 0;}
.footer-left, .footer-right{width:100%; margin:0 0 10px;}
.footer-left ul{width:60%;}
.device{min-height:275px;}
.pulse-app .container{padding:0;}
.pulse-app{border-width:0;}
.device .slide-image{right:inherit; width:100%; float:left; background-size:320px auto; background-position:center top; top:20px; position:relative; overflow:hidden; border-bottom:1px solid #c6c6c6;}
.device .slide-image .bx-wrapper{top:58px; left:-34px;}
.device-text{width:100%; float:left;}
.device-text h2{margin:40px 10px 10px; font-size:22px; line-height:26px; text-align:center;}
.app-on-stores{width:100%; float:left; padding:40px 15px 10px;}
.app-on-stores ul{text-align:center; margin:auto; width:100%;}
.app-on-stores ul li{width:48%; float:left; margin-right:10px;}
.app-on-stores ul li:first-child{text-align:right;}
.app-on-stores ul li:last-child{margin:0; text-align:left;}
.app-on-stores ul li img{height:auto;}
.profile-box, .follow-box, .signup, .interest-section, .profile-form{border:1px solid #e3e3e3;}
.profile-box .col-md-12, .signup .custom-mb, .follow-box .custom-mb, .article-details-box .custom-mb{padding-left:8px; padding-right:8px;}
.notify h3, .follow-box h3{padding:0; font-size:20px;}
.item-text{width:70%;}
.item-text h4{display:inline-block; font-size:14px; padding-bottom:0;}
.item-text p{display:inline;}
.follow-box .item-text h4{font-size:18px;}
.follow-box .item-text p{font-size:13px; display:block;}
.signup{padding:15px 0px 30px;}
.signup h3{padding-left:0; font-size:16px;}
.signup .account-section{padding:10px 0 5px;}
.create-account p{padding:0 2px;}
.submit-box button, .submit-box .btn-submit{width:100%; min-width:inherit;}
.check-box{margin:10px 0;}
.show-pwd{display:none;}
.hint{width:22px; height:22px; font-size:11px; right:-22px; padding:0; top:12px; padding:2px 0 0;}
.hide-mb{padding:10px 0 0;}
.hide-mb .profile-info{display:none;}
.interest-section{padding:10px 5px 0; margin:0 0 30px 0;}
.inner-content .interest-box li{margin-bottom:15px; width:49%; height:inherit; margin:0 2% 15px 0;}
.inner-content .interest-box li:nth-child(2n){margin-right:0;}
.interest-box li .title{font-size:12px; padding: 8px 0 8px 4px; line-height:14px;}
.profile-mb{margin:0 0 30px 0;}
/* .profile-mb .profile-info{display:none;} */
.profile-mb .profile-box{margin:0; padding:10px 0 0; border-bottom:none;}
.profile-mb .profile-form{border:none; padding:0; background:none;}
.profile-mb .profile-form h3{padding:0 0 5px;}
.profile-form .form-1, .profile-form .form-2{width:100%; float:left; background:#fff; padding:0px 10px 10px; border: 1px solid #e3e3e3;}
.nomargin{margin:0;}
.profile-form .form-1{border-top:none; margin: 0 0 10px;}
.profile-form .form-2{border-bottom:none;}
.profile-form .form-2 h3{padding-top:15px;}
.profile-form h3{font-size:18px;}
.profile-btn{background:#fff; border:1px solid #e3e3e3; border-top:none;}
.btn-edit{float:left; margin:10px 0 20px;}
.edit-profile h2{padding-left:10px;}
.form-mb{padding: 0 2%; width: 96%;  float:left;}
.profile-mb .form-mb h3{padding-bottom:10px;}
.form-mb .required-field, .signup-form .required-field{left:-10px;}
.form-mb .hint{right:-22px;}
.btn-profile-group, .share-article .btn-profile-group.m10{margin-top:15px; float:left;}
.btn-profile-group .btn{margin:0 4px 0 0;}
.other-pro .profile-form .form-1 ul, .other-pro .profile-form .form-2 ul{border-bottom:none;}
.other-pro{display:block;}
.other-pro{margin:0 0 30px 0;}
.other-pro.profile-info{display:none;}
.other-pro .profile-form .form-1 h3, .other-pro .profile-form .form-2 h3{padding:15px 0 5px;}
.other-pro .profile-box{margin:0 0 10px 0; padding:10px 0 0;}
.other-pro .profile-form{border:none; padding:0; background:none;}
.profile-box{padding-bottom:0; margin-bottom:10px;}
.profile-box{padding: 5px;}/*25 June*/

.profile-box h3{font-size:18px;}
.profile-sub, .meta-info{padding:0px;}
.profile-details{margin: 0 0 10px; padding:0; float:right;}
.profile-details ul{float:right; margin:0;}
.other-pro ul{float:right; border-bottom: 1px solid #d8d8d8; border-top: 1px solid #d8d8d8; margin:10px 0 0;}
.inner-content .profile-details li{padding:9px 6px;}
.inner-content .profile-details li:first-child{/* border:none; */}
.portfolioFilter{margin:4px 0 0;}
.portfolioFilter ul li{padding:0 28px 0 0;}
.portfolioFilter ul li a{font-size:13px; padding:12px 0 5px;}
.portfolioFilter ul li:last-child{padding:0;}
.articleContainer .block,.load_div .block{float:left; width:100%; border:1px solid #e3e3e3; margin-bottom:10px; margin-left:0;}
.inner-content .article-info h2{font-size:16px; clear:both; padding:0;}
.article-info h2{width:auto;}
.tabs-panel{margin-bottom:20px;}
.article-detail-outer{width: 100%; border:none; margin:0;}
.article-details-box{margin:0 0 10px; border:1px solid #e3e3e3; padding:0 0 10px;}
.article-details-box .article-listing{padding-top:10px;}
.article-details-box .article-listing figure{margin-right:10px;}
.slider-box{border:1px solid #e3e3e3; border-bottom:none;}
.article-listing{padding:10px;}
.add-comment textarea{min-height:100px;}
.btn-art-detail{float:left;}
.latest-comment-art, .comments-on-article{width:100%; padding:10px 0; border:1px solid #e3e3e3; margin:0 0 15px;}
.comments-on-article{border-top:none;}
.latest-comment-art figure{margin:0 10px 0 0; width:auto;}
.latest-comment-art > div{padding-left:5px; padding-right:5px;}
.article-detail-text{float:none; width:100%;}
.article-detail-comment{width:100%; padding-left:5px; padding-right:5px;}
.comment-background{width:100%; padding-left:8px; padding-right:8px; margin:5px 0 0;}
.article-detail-content{padding:0; float:none;}
.article-detail-content h3{font-size:13px; line-height:18px; padding:0;}
.article-info h3{line-height:16px; padding:10px 0 0; width:100%;}
.article-detail-content h2{font-size:18px; clear:both; display:block: width:100%;}
.article-detail-comment h5 span{display:block; margin:10px 0 0;}
.article-detail-comment h5 span img{margin-right:5px;}
.article-details-box .report-article{margin:10px 0; float:left;}
/*.add-comment h4 > span{display:none;}*/
.add-comment h4 .mb-text{display:none;}
.download-doc{border:none; margin:0; padding:20px 10px; font-size:14px; /* width:20%; */}
.slider-download{padding:10px 0;}
.edit-article-form{border-bottom:1px dashed #999;}
.edit-article-form .slider-download .bx-wrapper .bx-prev{left:5px;}
.edit-article-form .slider-download .bx-wrapper .bx-next{margin-right:-68px !important;}
.edit-article-form.m20{border-bottom:none;}
.article-meta{padding:10px 0;}
.article-info{float:none; width:100%;}
.edit-article, .report-article,.delete-article{float:left; margin:10px 0; position:relative;}
.delete-article{ right: -10px;}
.share-article{padding:10px;}
.share-article .edit-article-form{border:none;}
.edit-article-form .edit-article-outer label{width:34%; padding:9px 0 9px 6px; border-right:1px solid #d9d9d9;}
.edit-article-form .edit-article-outer .ms-drop label{border-right:none;} /*24 June*/
.share-article .edit-article-form input[type="text"]{width:64%; height:34px;}
.share-edit{margin:7px 0 0;}
.share-article .edit-article-form fieldset .form-control, .edit-article-form fieldset .form-control{width:64%; height:34px;}
.share-article #addbeat .edit-article-form fieldset .form-control, .edit-article-form fieldset .form-control{width:66%;} /*24 June*/
.edit-article-outer{border:none; border-radius:0;}
.edit-article-form fieldset, .edit-article-form fieldset:last-child{border:1px solid #ddd; margin:0 0 5px; border-radius:5px;}
.edit-article-form label.desc{min-height:34px;}
.share-article .edit-article-form textarea, .edit-article-form textarea{width:64%; min-height:inherit; height:45px; padding:8px 10px; /* text-overflow:ellipsis; */}
.share-article .select-box span.customSelect, .edit-article-outer .select-box span.customSelect{line-height:34px;}
.slider-article{max-width:156px;}
.edit-article-form input[type="text"]{width:64%; height:34px; text-overflow:ellipsis;}
.add-article{padding:20px 10px 25px;}
.add-more{margin: 20px 5px 15px 6px; width:90px; float:none; margin:auto;}
.add-more span{font-size:10px;}
.my_modal{max-width: 290px; margin-left: -145px; padding:10px 0;}
.my_modal h1{font-size:26px; margin:10px 0;}
.logged-in, .login-links a{font-size:12px;}
.login-form label{font-size:12px; width:34%; border-right: 1px solid #d9d9d9;}
.login-form input[type="text"], .login-form input[type="password"]{font-size:12px; width:64%;}
.logged-in, .log-details{margin:10px 0;}
.login-links{margin:10px 0 0;}
.signup-form{float:left; padding:0 2%; width:96%;}
.profile-form .account-section .form-control, .ms-choice, .signup-form .form-control{width:99%;}
.file-input{right:3px;}
.signup-form .ms-choice > div{right:14px;}
#add-image .modal-dialog, #report-beat .modal-dialog{width:auto;}
.slider-download .slider-inner{margin:0;   }
#report-beat .modal-dialog{top:10px;}
.report-beat{padding:0; width:100%;}
.report-beat h2{font-size:18px; padding:0 0 10px;}
.report-beat p{font-size:13px;}
.report-beat .form-group .dropdown, .report-beat textarea{padding: 8px 0 8px 8px; font-size:13px;}
.report-beat textarea{max-height:160px;}
.report-beat i{margin:10px 5px 0;}
.report-beat .form-group .dropdown .selected{font-size:13px; line-height:22px;}
.report-beat .form-group .dropdown .carat, .report-beat .form-group .dropdown.open .carat{top:6px;}
.report-beat .form-group .dropdown li{padding:4px 6px 4px 8px; font-size:13px;}

#consent-form .modal-dialog{width:100%; padding:0 2%; margin:0;}
.consent-select-box{max-height:225px;}
.consent-beat{padding:0 0 10px;}
.consent-left{width:100%; padding:0; border:none;}
.consent-right{width:100%; padding:0;}
.search-consent input.search-bar{width:83%;}
.consent-select-box li{padding: 10px 8px 0;}
.consent-select-box input[type="checkbox"]:not(:checked) + label, .consent-select-box input[type="checkbox"]:checked + label{padding-left: 40px;}
.consent-select-box li{font-size:12px;}
.consent-select-box li span{padding-right:5px; font-size:12px;}
.add-consent .form-control, .select-video label{font-size:13px;}
.select-video li{padding:8px;}
.select-video label{text-overflow:ellipsis; /*overflow:hidden;*/ white-space: nowrap; padding-left:30px; padding:0 12px 0 30px; height:30px;}
/*.select-video label:before{left:0;}*/
.remove_field{right:5px;}
.upload-btn-group{float:left; clear:both;}
.file-upload-filename{float:left;}
.upload-btn-group .btn{min-width: 120px;}
.download-doc{width:100%; display:block; padding:0; float:none; margin:auto;}
.slider-download .slider-inner{width:90%; padding:15px 6% 0; float:none; margin:auto;}
.slider-download .owl-controls .owl-buttons div{top:40%;}
.slider-download .owl-controls .owl-buttons .owl-prev{left:-24px;}
.slider-download .owl-controls .owl-buttons .owl-next{right:-28px;}
.interest-box .interest-detail .delete img{margin-top:1px;}
.interest-box li .inner-box, .interest-box li:first-child .inner-first-box{ height:150px;}
.ms-parent .ms-choice > span{right:26px;}

#beat-images .modal-dialog{width:96%; padding:0 2%; margin:0;}
#beat-images .col-md-12{padding:0;}
.upload-preview li{width:122px; height:auto; margin:0 2% 10px 0;}
.upload-preview li .beat-inner-box{height:140px;}
.file-upload-wrap{float:left;}
#beat-videos .modal-dialog{width:96%; padding:0 2%;}
#beat-videos .modal-dialog .col-md-12{padding:0;}
#beat-videos .upload-btn-group .btn{min-width:115px;}
.share-edit{ width:100%;}
}

@media only screen and (min-width: 800px) and (max-width: 1023px) {
.articleContainer .block,.load_div .block{width:384px; margin: 0 8px 15px;}
}

@media screen and (max-width:767px) and (orientation:landscape){
.item-text{margin-top:12px;}
}

@media only screen and (max-width : 320px){
.share-article .btn-profile-group.m10{float:left; margin-bottom:5px; width:100%;}
.upload-btn{max-width: 180px;}
.upload-file{padding-bottom:10px;}
.submit-box{max-width:200px;}
.upload-box{min-height:170px; background-size:100px auto;}
.article-detail-content h3 span, .article-info h3 span{display:block;}
.select-box select.select, .select-box span.customSelectInner{width:251px !important;}
#owl-demo .item{height:74px;}

}
@media only screen and (min-width:479px) and (max-width : 736px){
#report-Beat .modal-content {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    float: left;
    
    outline: 0 none;
    /*max-height: 300px;
    overflow: scroll;
    position: fixed;*/
    width: 100%; top:15px;
}}

@media only screen and (max-width : 736px) {
    
    
    #content {
        padding: 0px;
        width: 94%;
    }
    .navbar-right {
        float: right;
    }
    aside .search-form label{
        width: 100%;
    }
    aside .search-form input[type="search"], input[type="search"]{
        width: 80%;
        float: none;
    }
}

@media only screen and (min-width:480px) and (max-width : 640px){
#owl-demo .item{height:88px;}

.upload-preview li{width:122px; height:auto; margin:0 2% 10px 0;}
.upload-preview li:nth-child(3n){margin-right:0;}
.follow-list .item-follow-btn{width:100%;}
}

@media only screen and (min-width: 360px) and (max-width: 479px) {
.slider-download .slider-inner{margin-left:20px;}
}

@media only screen and (min-width: 360px) and (max-width: 480px) {
.slider-download .slider-inner{margin-left:20px;}
.share-article .btn-profile-group.m10 { width: 100%; }
}

@media (min-width:600px) and (max-width:960px) and (orientation:landscape){
.articleContainer .block,.load_div .block {width:47.8%; margin:0 1% 15px;}
.slider-download .slider-inner{margin-left:10px;}
}

@media (min-width:600px) and (max-width:767px) and (orientation:portrait){
.signup-form .ms-choice > div {right: 22px;}
#owl-demo .item, .slider-download .owl-item .item img{height:auto;}
}

@media screen and (max-width:414px) {
.share-edit{ width:100%;}

}
@media (min-width:360px) and (max-width:767px) and (orientation:landscape){
.form-1 .ms-choice > div {
    right: 22px;
}

}
@media screen and (max-width:720px) {
.follow-list .item-text {    width: 56%;}
.follow-list .item-follow-btn {    width: 28%;}
}
@media screen and (max-width:480px) {
.follow-list .item-follow-btn{width:100%;}
.follow-list .item-follow-btn a.follow-btn {    margin: 10px 0;}
}