.paddingSide15{
	padding: 0px 0px;
}
.leftNegative156px {
	left: -156px !important;
}
.leftNegative116px {
	left: -116px !important;
}
.leftNegative115px {
	left: -115px !important;
}
.leftNegative77px {
	left: -77px !important;
}