<?php
// debug($this->Paginator->params());
$this->Js->JqueryEngine->jQueryObject = 'jQuery'; 
$this->paginator->options(
    array(
        'update' => '#tab_1_1',
        'before' => $this->Js->get('#spinner')->effect('fadeIn', array('buffer' => false)),
        'complete' => $this->Js->get('#spinner')->effect('fadeOut', array('buffer' => false))));
?>
<div class="widget-news margin-bottom-20 bold">
	<span class="widget-news-left-elem">S. NO.</span>
    <div class="widget-news-right-body">
        <p class="widget-news-right-body-title width87">
        	User Name
            <span class="widget-news-right-elem"> Time </span>
            
        </p>
    </div>
</div>
<?php
$upbeatCount=count($userPostData);
    $totalPage=$upbeatCount/$perPage;

    if($upbeatCount>0){
        for ($i=($j*$perPage); $i<(($j+1)*$perPage) ; $i++){
            if(isset($userPostData[$i]['username'])){
?>
    <div class="widget-news margin-bottom-20">
        <span class="widget-news-left-elem"><?php echo $i+1; ?></span>
        <div class="widget-news-right-body">
            <p class="widget-news-right-body-title width50"><?php echo $userPostData[$i]['username']; ?>
                <span class="label label-default">
                  <?php 
                   $datetime = explode(" ",$userPostData[$i]['updated']);
                   $date = $datetime[0];
                   $time = $datetime[1];
                   echo date('d-m-Y',strtotime($date))."  ".date ('g:i:s A',strtotime($time));
                   ?>
                </span>
            </p>
        </div>
    </div>
    <?php } }}
    else{ ?>
    <p align="center"><font color="red">No Record(s)!</font><p>
       <?php }
 ?>
<div class="clearfix"></div>
<div class="row paginationTopBorder">
        <?php 
        // if($upbeatCount>$perPage){
        //     echo "<ul>";
        //     for($j=1;$j<$tp+1;$j++)
        //     {
        //         echo '<button><a onclick="abc('.$j.','.$id.');">'.$j.'</a></button>';
        //     }
        //     echo "</ul>";
        // // echo $this->element('pagination');
        // }
         ?>
         <?php
         if($upbeatCount>0){
         echo $this->element('advancePagination');
         } 
         ?>
   </div>
   <script type="text/javascript">
 var id='<?php echo $id; ?>';
 var perPage='<?php echo $perPage; ?>';
 var totalPage='<?php echo ceil($totalPage); ?>';
     function abc(val,perPage){
     $.ajax({
              url:'<?php echo BASE_URL; ?>admin/UserPost/upBeat',
              type: "POST",
              data: {'postId':id,'j':val,'perPage':perPage},
              success: function(data) { 
                  // alert(data);
                  $('#tab_1_1').html(data);
              }
          });
 }
 function chngCount(val,id){
  $.ajax({
              url:'<?php echo BASE_URL; ?>admin/UserPost/upBeat',
              type: "POST",
              data: {'postId':id,'perPage':val},
              success: function(data) { 
                  // alert(data);
                  $('#tab_1_1').html(data);
              }
          });
 }
 function chngPage(val) {
  var goVal=$("#chngPage").val();
  // var chVal=0+goVal;
  if(parseInt(goVal) <= Math.ceil(totalPage) && Math.ceil(goVal)>0){
    $.ajax({
              url:'<?php echo BASE_URL; ?>admin/UserPost/upBeat',
              type: "POST",
              data: {'postId':id,'j':goVal,'perPage':perPage,'totalPage':totalPage},
              success: function(data) { 
                  // alert(data);
                  $('#tab_1_1').html(data);
              }
          });
  }
  else{
    // alert("more");
  }
  
 }
 </script>