/* here you can put your own css to customize and override the theme */

#donutchart rect {
	display: none;
}
#donutchart {
	position: relative;
	left: -100px;
	top: -78px;
	z-index: 0;
}
#donutchart text {
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}
circle, text {
	transform: translate(0px, 40px);
}
path + text {
	transform: translate(0px, 0px);
}
#donutchart svg g:first-child text {
	transform: translate(0px, 0px);
}
.posZ {
	z-index: 1;
	position: relative;
}
.jqvmap-zoomin, .jqvmap-zoomout {
	background-color: rgb(0, 100, 145);
	border-radius: 50% !important;
	left: 5px;
	height: 20px;
	width: 20px;
	line-height: 13px;
}
.jqvmap-zoomout {
	top: 35px;
}
.marLeft15 {
	margin-left: 15px;
}
.marRight15 {
	margin-right: 15px;
}
.rightFloat .btn-group.marRight15 {
	margin-top: 20px;
	margin-bottom: 25px;
}
.rightFloat .btn-group.marRight15 .btn-sm {
	padding: 10px 16px;
	font-size: 13px;
	line-height: 1.5;
}
.postBeat {
	float: left;
	width: 100%;
}
.postBeat h3 {
	float: left;
	width: 85%;
}
.postBeat ul {
	margin: 0px;
	padding: 0px;
	width: 78%;
	float: left;
}
.postBeat ul li {
	float: left;
	margin-right: 10px;
	list-style: none;
}
.portlet-title.postBeat {
	margin-top: 20px;
}
.imageSingle img {
	width: 100%;
	height: auto;
}
.docAttachment {
	float: left;
	width: 100%;
	margin-top: 10px;
}
.postBeat ul li:last-child {
	margin-right: 0px;
}
.viewBeat {
	float: left;
	margin-top: 30px;
	width: 100%;
	line-height: 30px;
	margin-bottom: 20px;
}
.viewBeat li {
	margin-right: 20px;
}
.viewBeat li i {
	font-size: 20px;
	color: #9B9B9B;
}
.viewBeat span {
	float: right;
	font-size: 15px;
	opacity: 0.2;
	margin-right: 20px;
}
.postBeat ul li img {
	width: 50px;
	height: auto;
}
.editBeatIcon {
	float: right;
	color: #10A5DA;
	font-size: 30px;
	margin-top: 14px;
	margin-bottom: 10px;
	margin-right: 20px;
}
.postBeat p {
	margin-right: 20px;
	font-size: 15px;
	line-height: 24px;
	color: #787878;
	height: 70px;
	overflow: hidden;
}
.padBottom0 {
	padding-bottom: 0px !important;
}
.page-header .page-header-top .page-logo i.logo-default {
	font-size: 30px;
	color: #fff;
	line-height: 60px;
}
h3.blueBar40 {
	margin-bottom: 25px;
}
.blueBar40:after {
	content: "";
	width: 40px;
	height: 2px;
	display: block;
	background: #10a5da;
	margin-top: 15px;
}
.leftMinus8p {
	left: -8%;
}
.leftMinus10p {
	left: -10%;
}
.page-header .page-header-menu .search-form:before {
	content: "";
	height: 30px;
	display: block;
	margin-left: 20px;
	margin-right: 40px;
	position: relative;
	top: 2px;
	float: left;
}
.mobileShow {
	display: none !important;
}
.imageSingle {
	width: 100%;
	height: 370px;
	overflow: hidden;
}
.widthHeightFull img {
	width: 100%;
	height: 370px;
}
.widthLeft50 {
	width: 50%;
	float: left;
}
.widthLeft50 img {
	width: 100%;
	height: 180px;
}
.widthRight50 {
	width: 50%;
	float: right;
}
.widthRight50 img {
	width: 100%;
	height: 180px;
}
.widthFullHeightLeft50 {
	width: 50%;
	float: left;
	height: 370px;
}
.widthFullHeightLeft50 img {
	width: 100%;
	height: 370px;
}
.widthFullHeightRight50 {
	width: 50%;
	float: right;
	height: 370px;
}
.widthFullHeightRight50 img {
	width: 100%;
	height: 370px;
}
.moreItem a:after {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(74,74,74,0.7);
	z-index: 2;
	content: "";
	display: block;
	top: 0;
	left: 0;
}
.moreItem a:before {
	position: absolute;
	width: 100%;
	height: 100%;
	content: "2+";
	display: block;
	line-height: 174px;
	text-align: center;
	z-index: 3;
	color: #fff;
	font-size: 24px
}
.widthHeightFull {
	width: 100%;
}
#donutchart div[dir="ltr"] {
	left: 25%;
}
.icon2-view-icon:before {
	transform: scale(0.8);
}
.moreItemVideo a:after {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(74,74,74,0.7);
	z-index: 2;
	content: "";
	display: block;
	top: 0;
	left: 0;
}
.moreItemVideo .cbp-item-wrapper:before {
	font-family: FontAwesome;
	position: absolute;
	width: 100%;
	height: 100%;
	content: "\f04b";
	display: block;
	line-height: 25;
	margin: 0 auto;
	text-align: center;
	z-index: 6;
	color: #fff;
	font-size: 14px;
}
.moreItemVideo a:before {
	position: absolute;
	z-index: 5;
	background: #10A5DA;
	width: 40px;
	height: 40px;
	display: block;
	content: "";
	left: 42%;
	top: 42%;
	border-radius: 2px;
}
.dataTables_info.rightFloat {
	line-height: 54px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: #10A5DA;
	border-color: #10A5DA;
}
.pagination>li>a, .pagination>li>span {
	color: #10A5DA;
}
.scroll-to-top > i {
	color: #fff;
	font-size: 12px;
	opacity: 1;
	filter: alpha(opacity=100);
	background-color: #10A5DA;
}
.scroll-to-top {
	background-color: #10A5DA;
	width: 40px;
	height: 40px;
	line-height: 32px;/*bottom: 20px;*/
}
.postBeat2 {
	float: left;
	width: 100%;
}
.postBeat2 h3 {
	float: left;
	width: 85%;
	font-size: 20px;
}
.postBeat2 p {
	float: left;
	font-size: 15px;
	width: 100%;
	margin: 10px 0px;
	color: #787878;
}
.postBeat2 .portlet-title {
	margin-top: 0px;
}
.postBeat2 .portlet.light .portlet-body {
	float: left;
	width: 100%;
	padding-top: 0px;
}
.col-md-12 .postBeat2 span {
	font-size: 14px;
	float: left;
	width: 100%;
	color: #B5B7BD;
	margin-top: 10px;
}
.postBeat2 .editBeatIcon {
	float: right;
	color: #10A5DA;
	font-size: 30px;
	margin-top: 9px;
	margin-bottom: 0px;
	margin-right: 0px;
}
.postBeat2 .editBeatIcon i:before {
	margin: 0px;
}
.postBeat2.portlet.light.bordered {
	padding: 20px 40px;
	border: none !important;
}
.col-sm-12 .postBeat2.portlet.light.bordered {
	padding: 20px;
}
.postBeat2.portlet.light.bordered .col-md-12 {
	width: 100%;
	float: left;
}
.postBeat2.portlet.light.bordered .col-md-12:after {
	border-bottom: 1px solid #E5E5E5;
	content: "";
	display: block;
	float: left;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 10px;
}
.latestJobs .leftFloat img {
	margin-top: 5px;
}
.latestJobs .rightFloat {
	width: 83%;
	border-bottom: 1px solid #E5E5E5;
}
.postBeat2.portlet.light.bordered .latestJobs.col-md-12:after {
	display: none;
}
.postBeat2 .latestJobs a {
	font-size: 16px;
	line-height: 28px;
	float: left;
	width: 100%;
	color: #B5B7BD;
	margin: 0px;
}
.postBeat2 .latestJobs a:hover {
	text-decoration: none;
}
.postBeat2 .latestJobs span {
	font-size: 16px;
	float: left;
	width: 100%;
	color: #444A59;
	margin-top: 0px;
	margin-bottom: 15px;
}
.postBeat2.portlet.light.bordered .latestJobs.col-md-12 {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
.latestJobs .rightFloat.boaderNone {
	border-bottom: none;
}
.postBeat2.portlet.light.bordered form label {
	opacity: 0;
	visibility: hidden;
	filter: alpha(opacity=0);
	max-width: 400px;
}
.postBeat2.portlet.light.bordered .box.blue2 form label {
	opacity: 1;
	visibility: visible;
	filter: alpha(opacity=1);
}
.portlet.light.bordered {
	float: left;
	width: 100%;
}
.postBeat2.portlet.light.bordered form .form-group.form-md-line-input {
	padding-top: 0px;
}
.postBeat2.portlet.light.bordered form .form-group.form-md-line-input .form-control {
	font-size: 16px;
	padding-bottom: 20px;
	max-width: 400px;
	border-bottom: 1px solid #E5E5E5;
	color: #444A59;
	min-height: 50px;
}
.postBeat2.portlet.light.bordered form .form-group.form-md-line-input.has-info .form-control {
	border-bottom: 1px solid #E5E5E5;
}
.postBeat2.portlet.light.bordered form .form-group.form-md-line-input .form-control::-moz-placeholder {
 color: #444A59;
 opacity: 1;
}
.postBeat2.portlet.light.bordered form .form-group.form-md-line-input .form-control:-ms-input-placeholder {
 color: #444A59;
}
.postBeat2.portlet.light.bordered form .form-group.form-md-line-input .form-control::-webkit-input-placeholder {
 color: #444A59;
}
.postBeat2.portlet.light.bordered .form .form-actions .btn {
	letter-spacing: 1.1px;
	font-size: 14px;
	padding: 10px 27px;
	border-radius: 2px ! important;
	margin-right: 20px;
	margin-bottom: 10px;
}
.postBeat2.portlet.light.bordered .form .form-actions .btn.blue2:not(.btn-outline) {
	color: #FFFFFF;
	background-color: #0B7AA1;
	border-color: #0B7AA1;
}
.postBeat2.portlet.light.bordered .form .form-actions .btn.red2:not(.btn-outline) {
	color: #FFFFFF;
	background-color: #D0021B;
	border-color: #D0021B;
}
.postBeat2.portlet.light.bordered .form .form-actions .btn.blue2:not(.btn-outline):hover {
	color: #FFFFFF;
	background-color: #095875;
	border-color: #095875;
}
.postBeat2.portlet.light.bordered .form .form-actions .btn.red2:not(.btn-outline):hover {
	color: #FFFFFF;
	background-color: #A00215;
	border-color: #A00215;
}
.postBeat2 .form h3 {
	float: left;
	width: 100%;
	font-size: 18px;
	margin-bottom: 25px;
}
.postBeat2 form.dropzone h3 {
	margin-bottom: 10px;
}
.postBeat2.portlet.light.bordered .fileupload-buttonbar .col-md-12:after {
	border-bottom: none;
	margin: 0px;
	padding: 0px;
}
.postBeat2.portlet.light.bordered table.table-striped tbody {
	border-bottom: 1px solid #E5E5E5;
}
.postBeat2.portlet.light.bordered table.table-striped tbody p {
	float: none;
}
.postBeat2.portlet.light.bordered table.table-striped tbody .progress.progress-striped.active {
	overflow: hidden;
}
.postBeat2.portlet.light.bordered.borderedNone .col-md-12:after {
	border-bottom: none;
}
#mulitplefileuploader {
	float: left;/*width: 100%;
    margin-bottom: 0px;
	position: relative;*/
}
#mulitplefileuploader:before {
	/*content: "\f055";
	font-family:'FontAwesome';*/
	content: "\e801";
	font-family: "fontello";
	font-size: 24px;
	position: absolute;
	display: block;
	color: #4A4A4A;
	border: 1px dotted #CAD3DF;
	text-align: center;
	width: 150px;
	height: 114px;
	line-height: 114px;
}
.ajax-file-upload-container {
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
#status {
	margin-top: -30px;
	float: left;
	width: 100%;
}
#youtubeLinks {
	float: left;
	width: 150px;
	margin-bottom: 10px;
	height: 114px;
	line-height: 140px;
	text-align: center;
	border-bottom: none;
	cursor: pointer;
}
#youtubeLinks:before {
	content: "\e802";
	font-family: "fontello";
	font-size: 24px;
	position: absolute;
	display: block;
	color: #4A4A4A;
	border: 1px dotted #CAD3DF;
	text-align: center;
	width: 150px;
	height: 114px;
	line-height: 90px;
}

@media only screen and (device-width: 1024px) {
.postBeat2.portlet.light.bordered .form .form-actions .btn {
	margin-right: 8px;
}
.imageSingle {
	width: 100%;
	height: 410px;
	overflow: hidden;
}
.widthHeightFull img {
	width: 100%;
	height: 410px;
}
.widthLeft50 {
	width: 50%;
	float: left;
}
.widthLeft50 img {
	width: 100%;
	height: 200px;
}
.widthRight50 {
	width: 50%;
	float: right;
}
.widthRight50 img {
	width: 100%;
	height: 200px;
}
.widthFullHeightLeft50 {
	width: 50%;
	float: left;
	height: 410px;
}
.widthFullHeightLeft50 img {
	width: 100%;
	height: 410px;
}
.widthFullHeightRight50 {
	width: 50%;
	float: right;
	height: 410px;
}
.widthFullHeightRight50 img {
	width: 100%;
	height: 410px;
}
.postBeat h3 {
	float: left;
	width: 85%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.postBeat p {
	height: 30px;
	word-wrap: break-word;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}
#donutchart div[dir="ltr"] {
	left: -5px;
}
circle, text {
	transform: translate(-75px, 50px);
}
path + text {
	transform: translate(0px, 0px);
}
#donutchart svg g:first-child text {
	transform: translate(0px, 0px);
}
.page-header .container {
	width: 66%;
}
.leftMinus8p {
	left: -4%;
}
.leftMinus10p {
	left: auto;
}
.page-header .page-header-menu .search-form.open {
	width: 176px !important;
	transition: width 0.4s;
}
.portlet > .portlet-title > .actions {
	float: left;
}
.daterangepicker.testX.opensleft:before, .daterangepicker.opensleft:before, .daterangepicker.testX.opensleft:after, .daterangepicker.opensleft:after {
	display: none;
}
.widthHeightFull {
	width: 100%;
}
#donutchart svg g:first-child text {
	display: block;
}
#donutchart div[dir="ltr"] {
	left: 0;/*width:700px !important;*/
}
#donutchart div[dir="ltr"] svg {
/*width:700px !important;*/
}
circle, text {
	transform: translate(0px, 30px);
}
path + text {
	transform: translate(0px, 0px);
}
#donutchart svg g:first-child text {
	transform: translate(0px, 0px);
}
#donutchart {
	position: relative;
	left: -30px;
	top: -78px;
	z-index: 0;
}
.moreItemVideo .cbp-item-wrapper:before {
	line-height: 27.5;
}
.moreItemVideo a:before {
	left: 40%;
}
}

@media (max-width: 990px) {
.moreItemVideo .cbp-item-wrapper:before {
	line-height: 27.5;
}
.moreItemVideo a:before {
	left: 38%;
}
.imageSingle {
	width: 100%;
	height: 410px;
	overflow: hidden;
}
.widthHeightFull img {
	width: 100%;
	height: 410px;
}
.widthLeft50 {
	width: 50%;
	float: left;
}
.widthLeft50 img {
	width: 100%;
	height: 200px;
}
.widthRight50 {
	width: 50%;
	float: right;
}
.widthRight50 img {
	width: 100%;
	height: 200px;
}
.widthFullHeightLeft50 {
	width: 50%;
	float: left;
	height: 410px;
}
.widthFullHeightLeft50 img {
	width: 100%;
	height: 410px;
}
.widthFullHeightRight50 {
	width: 50%;
	float: right;
	height: 410px;
}
.widthFullHeightRight50 img {
	width: 100%;
	height: 410px;
}
.postBeat h3 {
	float: left;
	width: 85%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.postBeat ul li {
	margin-right: 5px;
}
.portlet.light .portlet-body.postBeat, .portlet.light .portlet-title.postBeat {
	padding: 0px 20px;
}
.editBeatIcon {
	width: 10%;
	margin-right: 10px;
}
.portlet.light .portlet-body.postBeat {
	padding-bottom: 20px;
}
.page-header {
	position: relative;
	top: inherit;
	z-index: 999;
	background-color: #10a5da;
}
.page-container {
	margin-top: 0px;
}
.page-header .container {
	height: auto;
	width: 100%;
	top: inherit;
}
.page-header .page-header-menu .hor-menu {
	margin: 6px 0 0px 0px;
}
.leftMinus8p {
	left: auto;
}
.leftMinus10p {
	left: auto;
}
.page-header .page-header-menu .search-form .input-group .form-control {
	color: #666;
}
.page-header .page-header-menu .search-form .input-group .input-group-btn .btn.submit i {
	top: 8px;
}
.mobileShow {
	display: block !important;
}
.mobileHide {
	display: none !important;
}
.page-header .page-header-menu .search-form {
	float: none !important;
	/*width: 93%;*/
	margin: 0 0 10px 2px;
}
.page-header .page-header-menu .search-form .input-group {
	width: 100%;
}
/*.page-header .page-header-menu .search-form.open {
    width: 93% !important;
}*/
.page-header .page-header-menu .search-form:before {
	display: none;
}
.btn.default2:not(.btn-outline) {
	padding: 4.5px 6px;
}
.portlet > .portlet-title > .actions > .btn, .portlet > .portlet-title > .actions > .btn.btn-sm, .portlet > .portlet-title > .actions > .btn-group > .btn, .portlet > .portlet-title > .actions > .btn-group > .btn.btn-sm {
	padding: 4px 8px;
}
.daterangepicker.testX.opensleft:before, .daterangepicker.opensleft:before, .daterangepicker.testX.opensleft:after, .daterangepicker.opensleft:after {
	display: none;
}
}

@media only screen and (device-width: 768px) {
/* For general iPad layouts */
  
.page-header .page-header-top .menu-toggler {
	margin: 13px 3px 0 13px;
}
circle, text {
	display: block;
}
path + text {
	display: block;
}
#donutchart svg g:first-child text {
	display: block;
}
#donutchart div[dir="ltr"] {
	left: 16%;
}
#donutchart div[dir="ltr"] svg {
}
circle, text {
	transform: translate(0px, 40px);
}
path + text {
	transform: translate(0px, 0px);
}
#donutchart svg g:first-child text {
	transform: translate(0px, 0px);
}
.postBeat p {
	height: 30px;
	word-wrap: break-word;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}
}

@media (max-width: 768px) {
circle, text {
	display: block;
}
#donutchart {
	z-index: 5;
	/*top: 0px;*/
	left: 0px;
}
#donutchart iframe {
	width: 160%;
	position: absolute;
	left: -52%;
	top: 35px;
	z-index: 5;
	height: 400px;
}
.portlet.light.portlet-fit {
	padding-bottom: 40px;
}
.col-md-12 .portlet.light.portlet-fit {
	padding-bottom: 0px;
}
path + text {
	display: block;
}
#donutchart svg g:first-child text {
	display: block;
}
.widthHeightFull {
	width: 100%;
}
.form .editable-container.editable-popup {
	left: 0px !important;
}
.page-header .page-header-top .menu-toggler {
	margin: 13px 3px 0 13px;
}
.page-container {
	margin-top: 0px;
}
.page-header {
	position: relative;
}
.page-header .search-form .input-group .form-control {
	background: #10a5da !important;
}
.page-header .page-header-menu .search-form .input-group .input-group-btn .btn.submit i {
	position: relative;
	top: 10px;
}
.page-header .page-header-menu .search-form .input-group .form-control {
	color: #333;
}
.page-header .search-form .input-group .form-control {
	background: #fff !important;
	border: 1px solid #00a675 !important;
	color: #333;
}
.page-header {
	position: relative;
	background: #10a5da;
}
.page-header .container {
	top: 0px;
	height: auto;
}
.page-header .page-header-menu .hor-menu {
	margin: 6px 0 0px 0px;
}
.imageSingle {
	height: 230px;
}
.postBeat ul {
	width: 70%;
}
}

@media (max-width: 767px) {
.portlet.light .form .form-actions {
	text-align: center;
}
.moreItemVideo a:before {
	top: 46.5%;
}
#donutchart div[dir="ltr"] {
	width: 100% !important;
	left: 12%;
}
.postBeat h3 {
	white-space: normal;
}
.imageSingle {
	width: 100%;
	height: 370px;
	overflow: hidden;
}
.widthHeightFull img {
	width: 100%;
	height: 370px;
}
.widthLeft50 {
	width: 50%;
	float: left;
}
.widthLeft50 img {
	width: 100%;
	height: 180px;
}
.widthRight50 {
	width: 50%;
	float: right;
}
.widthRight50 img {
	width: 100%;
	height: 180px;
}
.widthFullHeightLeft50 {
	width: 50%;
	float: left;
	height: 370px;
}
.widthFullHeightLeft50 img {
	width: 100%;
	height: 370px;
}
.widthFullHeightRight50 {
	width: 50%;
	float: right;
	height: 370px;
}
.widthFullHeightRight50 img {
	width: 100%;
	height: 370px;
}
.postBeat .docAttachment ul {
	width: 100%;
}
.dataTables_info.rightFloat {
	width: 100%;
	text-align: center;
}
.pagination {
	margin: 10px auto 0 auto;
	width: 360px;
	display: block;
}
}

@media (max-width: 400px) {
#donutchart iframe {
	left: -65%;
}
.postBeat ul {
	width: 60%;
}
}

@media (max-width: 360px) {
#donutchart iframe {
	left: -71%;
	width: 178%;
}
}

@media (max-width: 320px) {
#donutchart iframe {
	width: 198%;
	left: -90%;
}
.moreItemVideo a:before {
	left: 35%;
}
.pagination {
	margin-left: -5px;
}
.latestJobs .rightFloat {
	width: 76%;
}
}
