/* Cubic Bezier Transition */

.user-login-5 {
	min-height: 100vh;
}
.user-login-5 .bs-reset {
	margin: 0;
	padding: 0;
}
.user-login-5 .text-right {
	text-align: right;
}
.user-login-5 .login-bg, .user-login-5 .login-bg2 {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
}
.user-login-5 .login-logo {
	position: absolute;
	top: 2.5em;
	left: 2.5em;
}
.user-login-5 .login-logo.login-6 {
	top: 32px;
	left: 40px;
}
.user-login-5 .login-container {
	position: relative;
	min-height: 100vh;
}
.user-login-5 .login-container > .login-content,  .user-login-5 .login-container .login-social,  .user-login-5 .login-container .login-copyright {
	padding: 0 80px;
}
.user-login-5 .login-container > .login-content {
	margin-top: 160px;
}
/*.user-login-5 .login-container > .login-content > h1 {
	font-size: 26px;
	font-weight: 300;
	color: #4e5a64;
}*/
.user-login-5 .login-container > .login-content p {
	color: #a0a9b4;
	font-size: 15px;
	line-height: 22px;
}
.user-login-5 .login-container > .login-content > .login-form {
	/*margin-top: 80px;*/
	color: #a4aab2;
	font-size: 13px;
}
.user-login-5 .login-container > .login-content > .login-form input {
	width: 100%;
	padding: 10px;
	border: none;
	border-bottom: 1px solid;
	border-color: #a0a9b4;
	color: #868e97;
	font-size: 14px;
	margin-bottom: 30px;
}
.user-login-5 .login-container > .login-content > .login-form input:focus {
	outline: 0;
}
.user-login-5 .login-container > .login-content > .login-form .forgot-password,  .user-login-5 .login-container > .login-content > .login-form .login-button {
	display: inline-block;
}
.user-login-5 .login-container > .login-content > .login-form .rem-password {
	margin-top: 8px;
}
.user-login-5 .login-container > .login-content > .login-form .rem-password > p {
	font-size: 13px;
	line-height: 13px;
	margin: 0;
}
.user-login-5 .login-container > .login-content > .login-form .rem-password > .rem-checkbox {
	border-color: #a4aab2;
}
.user-login-5 .login-container > .login-content > .login-form .forgot-password {
	margin-right: 1em;
}
.user-login-5 .login-container > .login-content > .login-form .forgot-password > a {
	/*color: #a4aab2;*/
	text-decoration: underline;
}
.user-login-5 .login-container > .login-content > .login-form .forgot-password > a:hover {
	color: #10a5da;
	/*text-decoration: none;*/
}
.user-login-5 .login-container > .login-content > .login-form .forgot-password > a:focus {
	color: #a4aab2;
	text-decoration: none;
}
.user-login-5 .login-container > .login-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-bottom: 10px;
}
.user-login-5 .login-container > .login-footer .login-social {
	padding-right: 0;
}
.user-login-5 .login-container > .login-footer .login-social li {
	display: inline-block;
	list-style: none;
	margin-right: 1em;
}
.user-login-5 .login-container > .login-footer .login-social a {
	color: #a9b5be;
	font-size: 18px;
}
.user-login-5 .login-container > .login-footer .login-social a:hover {
	color: #10a5da;
	text-decoration: none;
}
.user-login-5 .login-container > .login-footer .login-social a:focus {
	color: #a9b5be;
}
.user-login-5 .login-container > .login-footer .login-copyright {
	padding-left: 0;
	margin-top: 6px;
}
.user-login-5 .login-container > .login-footer .login-copyright > p {
	margin: 0;
	font-size: 13px;
	color: #a9b5be;
}
/*.user-login-5 .alert {
	margin-top: -60px;
}*/
.user-login-5 .form-group.has-error {
	border-bottom: 2px solid #ed6b75 !important;
}
.user-login-5 .form-group.valid {
	border-bottom: 1px solid #a0a9b4 !important;
}
/*.backstretch img{
	width: calc(100% - 20%) !important;
	left: 13% !important;
}*/

@media (max-width: 1365px) {
.user-login-5 .login-logo.login-6 {
	top: 32px;
	left: 40px;
}
.user-login-5 .login-container > .login-content,  .user-login-5 .login-container .login-social,  .user-login-5 .login-container .login-copyright {
	padding: 0 40px;
}
.user-login-5 .login-container .login-social {
	padding-right: 0;
}
.user-login-5 .login-container .login-copyright {
	padding-left: 0;
}
}

@media (max-width: 1024px) {
.user-login-5 .login-container > .login-content {
	margin-top: 40%;
}
.multiStepRight {
    width: 87%;
}
}

@media (max-width: 1023px) {
.user-login-5 {
	min-height: 50vh;
}
.user-login-5 .login-bg, .user-login-5 .login-bg2 {
	min-height: 50vh;
}
.user-login-5 .login-logo.login-6 {
	position: relative;
	margin: 0 0 40px 0;
}
.user-login-5 .login-container {
	min-height: 50vh;
}
.user-login-5 .login-container > .login-content {
	margin-top: 100px;
}
.user-login-5 .login-container > .login-content .login-form {
	margin-top: 40px;
}
.user-login-5 .login-container .rem-password {
	margin-bottom: 1em;
}
.user-login-5 .login-container > .login-footer {
	position: relative;
	margin-top: 40px;
	padding-bottom: 0;
}
.user-login-5 .login-container > .login-footer .login-social li {
	margin-right: 0.5em;
}
.user-login-5 .alert {
	margin-top: -20px;
}
.multiStepRight {
    width: 91.8%;
}
}

@media screen and (max-width: 767px) {
.user-login-5 .login-logo.login-6 {
	top: 32px;
	left: 40px;
}
.user-login-5 .login-container > .login-content {
    margin-top: 0px;
}
.login-bg, .login-bg2{
	display: none;
}
.multiStepLeft {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}
.multiStepRight {
    width: 85%;
}
.multiStepTxt {
    padding-left: 14px;
    line-height: 30px;
    font-size: 12px;
}
}

@media (max-width: 640px) {
.user-login-5 .login-container > .login-content .text-right {
	text-align: left;
}

}
@media (max-width: 375px) {
.multiStepLeft {
    width: 44px;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
}
.multiStepTxt {
    padding-left: 8px;
    line-height: 22px;
    font-size: 11px;
}

}
@media (max-width: 360px) {
.multiStepLeft {
    width: 42px;
    height: 42px;
    line-height: 42px;
    font-size: 12px;
}
.multiStepTxt {
    padding-left: 10px;
    line-height: 22px;
    font-size: 10px;
}

}

@media (max-width: 320px) {
.multiStepLeft {
    width: 38px;
    height: 38px;
    line-height: 38px;
    font-size: 12px;
}
.multiStepTxt {
    padding-left: 5px;
    line-height: 22px;
    font-size: 9px;
}
.multiStepRight {
    width: 84%;
}

}
