
<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" onclick="closeModal();">&times;</button>
          <h4 class="modal-title">User Info</h4>
        </div>
        <div class="modal-body">
          <table border="1">
            <tr>
                <td width="50%"><strong>GMC</strong></td>
                <td width="5%">:</td>
                <td width="45%"><input type="text" name="textGmcNumber" value="<?php echo isset($userData['UserProfile']['gmcnumber']) ? $userData['UserProfile']['gmcnumber'] : '' ;?>" class="form-control col-md-7 col-xs-12" required="required" id="textGmcNumber" data-parsley-id="0573" maxlength="15"></td>
              </tr>
              <tr>
                <td width="1000%" colspan="3">
                    <input type="submit" name="btn_search" value="Update" class="btn btn-success" />
                </td>
                </tr>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>

