<?php
// print_r($data);
// print_r($headers);
// exit();
 ?>
<a href="" id="download"></a>
<script type="text/javascript">
href = '<?php echo (string)$path; ?>';
// $('#download').attr('href',href).click();
window.open(href);
  // window.close();
</script>
