@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?78214890');
  src: url('../fonts/fontello.eot?78214890#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?78214890') format('woff2'),
       url('../fonts/fontello.woff?78214890') format('woff'),
       url('../fonts/fontello.ttf?78214890') format('truetype'),
       url('../fonts/fontello.svg?78214890#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?78214890#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-circle-plus-icon:before { content: '\e800'; } /* '' */
.icon-link-icon:before { content: '\e801'; } /* '' */
.icon-search-icon:before { content: '\e802'; } /* '' */
.icon-view-icon:before { content: '\e803'; } /* '' */
.icon-logo-ocr:before { content: '\e804'; } /* '' */
.icon-login-arrow:before { content: '\e805'; } /* '' */
.icon-up:before { content: '\e806'; } /* '' */
.icon-down:before { content: '\e807'; } /* '' */
.icon-contact:before { content: '\e808'; } /* '' */
.icon-edit-icon:before { content: '\e809'; } /* '' */
.icon-notification-icon:before { content: '\e80a'; } /* '' */
.icon-logo-bleep:before { content: '\e80b'; } /* '' */
.icon-phone:before { content: '\e80c'; } /* '' */
.icon-check-double:before { content: '\e80d'; } /* '' */
.icon-accept:before { content: '\e80e'; } /* '' */
.icon-android-logo:before { content: '\e80f'; } /* '' */
.icon-apple-logo:before { content: '\e810'; } /* '' */
.icon-back-arrow:before { content: '\e811'; } /* '' */
.icon-enter-chat:before { content: '\e812'; } /* '' */
.icon-pin2:before { content: '\e813'; } /* '' */
.icon-smily:before { content: '\e814'; } /* '' */
.icon-group-chat:before { content: '\e815'; } /* '' */
.icon-reject:before { content: '\e816'; } /* '' */
.icon-add-group:before { content: '\e817'; } /* '' */
.icon-dots-menu:before { content: '\e818'; } /* '' */
.icon-lens-search:before { content: '\e819'; } /* '' */
.icon-envelope:before { content: '\e81a'; } /* '' */
.icon-lock:before { content: '\e81b'; } /* '' */
.icon-clip2:before { content: '\e81c'; } /* '' */
.icon-send_arrow:before { content: '\e81d'; } /* '' */
.icon-callout:before { content: '\e81e'; } /* '' */
.icon-question-mark:before { content: '\e81f'; } /* '' */
.icon-logout2:before { content: '\e820'; } /* '' */
.icon-setting:before { content: '\e821'; } /* '' */
.icon-user_add:before { content: '\e822'; } /* '' */
.icon-user2:before { content: '\e823'; } /* '' */
.icon-trash2:before { content: '\e824'; } /* '' */
.icon-pencil-added:before { content: '\e825'; } /* '' */
.icon-ic-about:before { content: '\e826'; } /* '' */
.icon-ic-feedback:before { content: '\e827'; } /* '' */
.icon-send-request:before { content: '\e828'; } /* '' */
.icon-sound-notification:before { content: '\e829'; } /* '' */
.icon-send-request02:before { content: '\e82a'; } /* '' */
.icon-sent-request02:before { content: '\e82b'; } /* '' */
.icon-request-accepted02:before { content: '\e82c'; } /* '' */
.icon-request-geolocation02:before { content: '\e82d'; } /* '' */
.icon-send-request03:before { content: '\e82e'; } /* '' */
.icon-mbphone:before { content: '\e82f'; } /* '' */
.icon-icon-search-ocr:before { content: '\e830'; } /* '' */
.icon-icon-postbeat-ocr:before { content: '\e831'; } /* '' */
.icon-icon-notification-ocr:before { content: '\e832'; } /* '' */
.icon-icon-options-ocr:before { content: '\e833'; } /* '' */
.icon-icon-comments-ocr:before { content: '\e834'; } /* '' */
.icon-icon-playvideo-ocr:before { content: '\e835'; } /* '' */
.icon-icon-reload-ocr:before { content: '\e836'; } /* '' */
.icon-icon-share-ocr:before { content: '\e837'; } /* '' */
.icon-icon-downheart-ocr:before { content: '\e838'; } /* '' */
.icon-icon-upheart-ocr:before { content: '\e839'; } /* '' */
.icon-icon-docfile-ocr:before { content: '\e83a'; } /* '' */
.icon-icon-xlsfile-ocr:before { content: '\e83b'; } /* '' */
.icon-icon-pdffile-ocr:before { content: '\e83c'; } /* '' */
.icon-icon-pptfile-ocr:before { content: '\e83d'; } /* '' */