/* Cubic Bezier Transition */
/***
Lock Page
***/
body {
  background-color: #fff !important;
  padding: 0;
  margin: 0; }

.page-lock {
  margin: 90px auto 30px auto;
  width: 450px; }

.page-lock .page-logo {
  text-align: center;
  margin-bottom: 15px; }

.page-lock .page-body {
  width: 100%;
  margin-top: 50px;
  background-color: #f5f5f5;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px; }

.lock-head {
  display: block;
  background-color: #10a5da;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  -webkit-border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -ms-border-radius: 7px 7px 0 0;
  -o-border-radius: 7px 7px 0 0;
  border-radius: 7px 7px 0 0; }

.lock-body {
  display: block;
  margin: 35px;
  overflow: hidden; }

.lock-avatar {
  margin-top: 15px;
  height: 110px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important; }

.lock-form {
  padding-left: 40px; }

.lock-form h4 {
  margin-top: 0px;
  color: #333;
  font-size: 18px;
  font-weight: 400; }

.lock-form .form-group {
  margin-top: 20px; }

.lock-form .form-group .form-control {
  background-color: #fff;
  border: none;
  width: 220px;
  height: 40px;
  color: #333;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
  margin-bottom: 4px;
  }
  .marTop36 {
    margin-top: 36px !important;
  }
  .marTop30 {
    margin-top: 30px !important;
  }
  .padTopBottom5{
	  padding-top:5px;
	  padding-bottom:5px;
	}
.padTopBottom10{
	  padding-top:10px;
	  padding-bottom:10px;
	}

.lock-form .form-group .form-control::-moz-placeholder {
  color: #333;
  opacity: 1; }

.lock-form .form-group .form-control:-ms-input-placeholder {
  color: #333; }

.lock-form .form-group .form-control::-webkit-input-placeholder {
  color: #333; }

.lock-form .form-group .form-control:focus {
  background-color: #fff;
  border:1px solid #ccc;
  }

.lock-form .form-actions {
  margin-top: 20px; }

.lock-form .form-actions .btn {
  width: 220px;
  font-weight: normal;
  padding: 10px;
  background: #00a675;
  color: #fff;
}
.lock-form .form-actions .btn.widthAuto{
	width:auto;
}
.lock-form .form-actions .btn.default:not(.btn-outline) {
    background-color: #e1e5ec;
    border-color: #e1e5ec;
    color: #666;
}
.lock-form .form-actions .btn.default:hover:not(.btn-outline) {
    background-color: #c2cad8;
    border-color: #bcc5d4;
    color: #666;
}

.lock-bottom {
  display: block;
  background-color: #10a5da;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  -ms-border-radius: 0 0 7px 7px;
  -o-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px; }

.lock-bottom a {
    font-size: 14px;
    font-weight: normal;
    color: #fff;
}

.lock-bottom a:hover {
  color: #fff; }

.page-footer-custom {
  text-align: center;
  padding-top: 40px;
  color: #5f6e83; }

@media (max-width: 768px) {
  .page-lock {
    margin: 100px auto; } }

@media (max-width: 560px) {
  .page-lock {
    margin: 50px auto;
    width: 400px; }
  .lock-body {
    margin: 30px; }
  .lock-avatar {
    width: 120px;
    height: 120px;
    margin-top: 20px; }
  .lock-form h4 {
    font-size: 16px; }
  .lock-form .form-group .form-control {
    padding: 20px 20px;
    width: 170px; }
  .lock-form .form-actions .btn-success {
    width: 170px;
    margin-bottom: 10px; } }

@media (max-width: 420px) {
  .page-lock {
    margin: 30px auto;
    width: 280px; }
  .lock-body {
    margin: 0px;
	margin-bottom: 20px;
	}
	.marTop36 {
		margin-top: 0px !important;
	}
  .page-lock .page-body {
    margin-top: 30px; }
  .lock-avatar {
    margin-top: 20px; }
  .lock-avatar-block {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px; }
  .lock-form {
    padding-left: 20px; }
  .lock-form h4 {
    font-size: 16px;
    text-align: center; }
  .lock-form .form-group .form-control {
    padding: 20px 20px;
    width: 240px; }
  .lock-form .form-actions .btn-success {
    width: 240px;
    margin-bottom: 20px; } }
