.quick-nav ul {
    text-align: right;
}
.quick-nav {
    margin-top: -230px;
    pointer-events: none;
    position: fixed;
    right: 10px;
    top: 50%;
    z-index: 10103;
}
.quick-nav-trigger, .quick-nav.nav-is-visible {
    pointer-events: auto;
}
.quick-nav .quick-nav-bg {
    background: #36c6d3 none repeat scroll 0 0;
    border-radius: 30px !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    transition: height 0.2s ease 0s, box-shadow 0.2s ease 0s;
    width: 60px;
    z-index: 10102;
}
.quick-nav.nav-is-visible .quick-nav-bg {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
    height: 100%;
}
.quick-nav-trigger {
    border-radius: 50% !important;
    color: transparent;
    height: 60px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    white-space: nowrap;
    width: 60px;
    z-index: 10103;
}
.quick-nav-trigger span, .quick-nav-trigger span::after, .quick-nav-trigger span::before {
    background-color: #fff;
    height: 2px;
    position: absolute;
    width: 16px;
}
.quick-nav-trigger span {
    bottom: auto;
    left: 50%;
    right: auto;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: background-color 0.2s ease 0s;
}
.quick-nav-trigger span::after, .quick-nav-trigger span::before {
    backface-visibility: hidden;
    content: "";
    left: 0;
    top: 0;
    transition: transform 0.2s ease 0s;
}
.quick-nav-trigger span::before {
    transform: translateY(-6px);
}
.quick-nav-trigger span::after {
    transform: translateY(6px);
}
.no-touch .quick-nav-trigger:hover ~ .quick-nav-bg {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}
.nav-is-visible .quick-nav-trigger span {
    background-color: transparent;
}
.nav-is-visible .quick-nav-trigger span::before {
    transform: rotate(-45deg);
}
.nav-is-visible .quick-nav-trigger span::after {
    transform: rotate(45deg);
}
.quick-nav ul {
    list-style: outside none none;
    padding: 60px 0 0;
    position: relative;
    transition: visibility 0.3s ease 0s;
    visibility: hidden;
    z-index: 10103;
}
.quick-nav ul > li a {
    display: block;
    font-size: 1.4rem;
    height: 50px;
    line-height: 50px;
    padding: 0 calc(1em + 60px) 0 1em;
    position: relative;
    transition: color 0.2s ease 0s;
}
.quick-nav ul > li a::before, .quick-nav ul > li a > i {
    content: "";
    height: 16px;
    position: absolute;
}
.quick-nav ul > li a:hover, .quick-nav ul > li a:hover > span {
    text-decoration: none;
}
.quick-nav ul > li a > i {
    color: #ebebeb;
    font-size: 18px;
    right: 24px;
    top: 16px;
    width: 16px;
}
.quick-nav ul > li a::before {
    background-color: #ff3f3f;
    right: 60px;
    top: 50%;
    transform: translateX(3px) translateY(-50%) scaleY(0);
    width: 3px;
}
.quick-nav ul > li span {
    color: #ebebeb;
    display: block;
    font-weight: 400;
    opacity: 0;
    transform: translateX(-25px);
}
.no-touch .quick-nav.nav-is-visible ul a:hover::after, .quick-nav.nav-is-visible ul a:hover::after {
    opacity: 1;
}
.quick-nav ul > li:last-child {
    padding-bottom: 10px;
}
.quick-nav.nav-is-visible ul {
    visibility: visible;
}
.quick-nav.nav-is-visible ul a::after {
    animation: 0.15s ease 0s normal backwards 1 running scaleIn;
    transform: translateY(-50%) scale(1);
    transition: opacity 0.2s ease 0s;
}
.quick-nav.nav-is-visible ul a:hover::before {
    transform: translateX(3px) translateY(-50%) scaleY(2);
    transition: transform 0.15s ease 0.3s;
}
.quick-nav.nav-is-visible ul a:hover > span {
    color: #fff;
}
.quick-nav.nav-is-visible ul a:hover > i {
    color: #fafafa;
}
.quick-nav.nav-is-visible ul span {
    animation: 0.15s ease 0s normal backwards 1 running slideIn;
    opacity: 1;
    transform: translateX(0px);
    transition: transform 0.2s ease 0s;
}
.no-touch .quick-nav.nav-is-visible ul a:hover span {
    transform: translateX(-5px);
}
.quick-nav-overlay {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10101;
}
.quick-nav.nav-is-visible + .quick-nav-overlay {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    display: block;
    transition: background 0.7s ease-out 0s;
}
@media (max-width: 991px) {
.quick-nav {
    margin-top: 0;
    top: 120px;
}
}
